/* NUEVO ARCHIVO CUSCATA - 18072024 */


.btnRegistrar {
	padding-top: 2px;
	border: none;
	border-radius: 5px;
	width: 35px;
	height: 35px;
	background-color: rgba(80, 199, 80, 1);
}

.btnRegistrar img {
	border-width: 0px;
	width: 28px;
	height: 26px;
}

html {
	font-family: "Arial", sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.contLeft::after {
	content: "";
	clear: both;
	display: table;
	margin: 0px auto;
}

.content1 {
	margin-top: 8px;
	height: 500px;
	border: solid 1px #ccc;
}

[class *="col-"] {
	float: left;
	padding-top: 10px;
}

.header {
	color: #ffffff;
	padding: 0;
	margin: 0px auto;
	height: 120px;
}

.container {
	min-width: 360px;
	width: 100%;
	margin: 0px auto;
}

.menu { /*background-color: #0099cc;*/
	text-align: left;
}

.contCenter {
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
}
/*SPRINT16 incio*/
.barSede {
	padding-top: 5px;
	background-color: rgba(237, 28, 36, 1);
	width: 100%;
	height: 65px;
	text-align: center;
	font-size: 12px !important;
}
/*SPRINT16 fin*/
.footer {
	color: #819CA9;
	text-align: center;
	font-size: 12px;
	padding: 15px;
}

[class *="col-"] {
	width: 100%;
}

/*estilo combo*/
/* SPRINT16 INICIO */
.combobox {
	padding-top: 5px;
	background-color: rgba(237, 28, 36, 1);
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 14px !important;
	margin: 10px auto 20px auto;
	border: 1px solid rgba(237, 28, 36, 1);
	overflow: hidden;
	position: relative;
}

.ocultarPhone {
	display: block;
}

.select {
	background: transparent;
	border: none;
	font-size: 14px;
	height: 30px;
	width: 80%;
}
/* SPRINT16 FIN */
.select:focus {
	outline: none;
}

.combobox::after {
	/*content: "\025be"; SPRINT16*/
	display: table-cell;
	padding-top: 7px;
	text-align: center;
	width: 80%;  /*SPRINT16*/
	height: 30px;/*SPRINT16*/
	background-color: transparent; /*SPRINT16*/
	position: absolute;
	top: 0;
	right: 0px;
	pointer-events: none;
}

.btnVideo {
	border-width: 0px;
	width: 175px;
	height: 30px;
	background: inherit;
	background-color: rgba(242, 242, 242, 1);
	border: none;
	border-radius: 6px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial ', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #819CA9;
	text-decoration: none !important;
	text-align: center !important;
}

.btnMenu {
	margin-bottom: 3px;
	width: 190px;
	height: 35px;
	background: inherit;
	background-color: rgba(153, 153, 153, 1);
	border: none;
	border-radius: 6px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial ', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	color: white;
}

.btnVolver {
	color: white;
	font-size: 22px;
	background-color: rgba(237, 28, 36, 1);
	float: right;
	margin-right: 25px;
}

.btnMenu .btn_act {
	background: inherit;
	background-color: rgba(237, 28, 36, 1);
}

.btnRegistrar .btnVolver .btnMenu .btnVideo focus {
	outline: none !important;
	border: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.logo img {
	padding: 0px;
	margin: 0px;
	width: 80%;
}

.left {
	float: left;
}

.right {
	float: right;
}

/*SPRINT_3.1 INICIO*/
.tit1 {
	color: black;
	width: 100% font-weight :400;
	font-style: normal;
	font-size: 14px;	
	font-weight: bold;
}
/*SPRINT_3.1 FIN*/

.logo {
	width: 100%;
	height: 80px;
	display: table;
}

@media only screen and (min-width: 360px) {
	.container {
		padding: 10px;
	}
	.menu {
		display: none;
	}
	#titulo1 {
		display: none;
	}
	#titulo2 {
		text-align: center;
		display: block;
		margin-bottom: 10px;
		margin-top: 20px;
		width: 100%;
	}
	.combobox {
		display: block;
	}
	/*SPRINT16 INICIO*/
	.ocultarPhone {
		display: none;
	}
	/*SPRINT16 FIN*/
	.header {
		height: 20%; /*SPRINT16 */
	}
	.logo img {
		width: 47%;
	}
	.logo {
		height: 20%; /*SPRINT16 */
	}
	.btnVideo {
		border-width: 0px;
		width: 50%;
		height: 40px;
		margin-left: 25%;
		margin-right: 25%;
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media only screen and (min-width: 600px) { /*  tablets: */
	.btnVideo {
		border-width: 0px;
		width: 50%;
		height: 40px;
		margin-left: 25%;
		margin-right: 25%;
		padding-left: 10%;
		padding-right: 10%;
	}
	.logo img {
		width: 38%;
	}
	.container {
		width: 100%;
		padding: 10px;
	}
	.menu {
		display: none;
	}
	.combobox {
		display: block;
		margin-top: 80px;
	}
		/*SPRINT16 INICIO*/
	.ocultarPhone {
		display: none;
	}
	/*SPRINT16 FIN*/
	#titulo1 {
		display: none;
	}
	#titulo2 {
		text-align: center;
		display: block;
		margin-bottom: 10px;
		margin-top: 20px;
		width: 100%;
	}
	.header {
		height: 20%;/*SPRINT16 */
	}
	.logo {
		height: 20%; /*SPRINT16 */
	}
	.col-s-1 {
		width: 8.33%;
	}
	.col-s-2 {
		width: 16.66%;
	}
	.col-s-3 {
		width: 25%;
	}
	.col-s-4 {
		width: 33.33%;
	}
	.col-s-5 {
		width: 41.66%;
	}
	.col-s-6 {
		width: 50%;
	}
	.col-s-7 {
		width: 58.33%;
	}
	.col-s-8 {
		width: 66.66%;
	}
	.col-s-9 {
		width: 80%;
	} /* cambie*/
	.col-s-10 {
		width: 83.33%;
	}
	.col-s-11 {
		width: 91.66%;
	}
	.col-s-12 {
		width: 100%;
	}
}

/*@media only screen and (min-width: 768px) {*/
@media only screen and (min-width: 950px) { /* desktop: */
	.btnVideo {
		border-width: 0px;
		width: 175px;
		height: 30px;
		float: right;
		margin: 0;
		padding: 0.9% !important;
	}
	.logo img {
		width: 30%;
	}
	.menu {
		display: block;
	}
	.combobox {
		display: none;
	}
		/*SPRINT16 INICIO*/
	.ocultarPhone {
		display: block;
	}
	/*SPRINT16 FIN*/
	#titulo1 {
		display: block;
		padding-top: 6px;
	}
	#titulo2 {
		display: none;
	}
	.container {
		width: 950px;
	}
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 21%;
	} /* cambie*/
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 79%;
	} /* cambie*/
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}
/*SPRINT17 INICIO*/
.bar {
	border-radius: 6px;
	margin: 3px;
	border: 1px solid #ccc !important;
	font-family: 'Arial Negrita', 'Arial Normal', 'Arial';
	background-color: rgba(242, 242, 242, 1);
	border-color: rgba(215, 215, 215, 1);
	font-weight: bold;
	color: #5b5b5b;
	height: 29px !important;
	padding-top: 10px;
	font-size: 11px !important;
	width: 90% !important; /*SPRINT19*/
}

/*SPRINT17 FIN*/

.img-button-validar {
	background: rgba(80, 199, 80, 1) !important;
	border-color: rgba(80, 199, 80, 1) !important;
	width: 90px;
	color: white;
	border-radius: 6px;
	background-image: url('../images/u198.png') !important;
	background-repeat: no-repeat !important;
	background-position: 0 0 !important;
}

/*SPRINT16 FIN*/
.captcha {
	position: relative;
	top: 8px;
	color: #CF0707;
}


/*SPRINT_5.2 INICIO*/

.subTitulo {
	padding-top: 6px;
	background-color: rgba(80, 199, 80, 1);
	width: 100%;
	height: 28px;
	text-align: center;
	font-size: 14px !important;
	 color: white;
	 font-family: 'Arial Normal', 'Arial';
	 font-weight: bold;
}

/*SPRINT_5.2 FIN*/

/*SPRINT02.1 INICIO*/

.barTitulo {
	padding-top: 5px;
	background-color: rgba(255, 255, 255, 255);
	width: 100%;
	height: 65px;
	text-align: center;
	font-size: 12px !important;
	color:black;
	 font-weight: bold;
  border: 2px solid red;
  border-radius: 15px;
}

/*SPRINT02.1 FIN*/

