<!-- NUEVO ARCHIVO CUSCATA - 07082024-->
<!DOCTYPE html>
<html ng-app="MyApp">
<head>
<base href="/registramef/" />
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<title>SISTEMA DE PROGRAMACIÓN, REGISTRO Y REPORTES DE INFORMACIÓN DE LOS CONECTAMEF</title>
<link href="resources/css/angular-material.css" rel="stylesheet" type="text/css" />
<link href="resources/css/md-data-table.css" rel="stylesheet" type="text/css" />
<link href="resources/font/robotFont.css" rel="stylesheet" type="text/css" />
<link href="resources/font/material-icons.css" rel="stylesheet" type="text/css" />

<link href="resources/appcss/titulo.css" rel="stylesheet" type="text/css" />
<link href="resources/appcss/menucontrler.css" rel="stylesheet" type="text/css" />
<link href="resources/appcss/cuerpo.css" rel="stylesheet" type="text/css" />
<link href="resources/appcss/pie.css" rel="stylesheet" type="text/css" />
<link href="resources/appcss/tree.css" rel="stylesheet" type="text/css" />
<link href="resources/appcss/strength.css" rel="stylesheet" type="text/css" />

<link href="resources/css/angular-chart.css" rel="stylesheet" type="text/css" />
<link href="resources/css/report-resumen-servicio.css" rel="stylesheet" type="text/css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>


<script src="resources/js/angular.js"></script>
<script src="resources/js/angular-animate.js"></script>
<script src="resources/js/angular-aria.js"></script>
<script src="resources/js/angular-material.js"></script>
<script src="resources/js/angular-messages.js"></script>
<script src="resources/js/md-data-table.js"></script>
<script src="resources/js/angular-route.js"></script>
<script src="resources/js/Chart.js"></script>
<script src="resources/js/angular-chart.js"></script>

<script src="resources/appjs/appini.js"></script>
<script src="resources/appjs/menucontrol.js"></script>
<script src="resources/appjs/titulo.js"></script>
<script src="resources/appjs/listarRptResumen.js"></script>
<script src="resources/appjs/moment-with-locales.js"></script>

<script src="resources/appjs/menucontrol.js"></script>
<script src="resources/appjs/titulo.js"></script>

<style type="text/css">
</style>
</head>
<body>
<!-- Formulario -->
  <form name="dtReporteForm">

<div layout="column" layout-align="center stretch">
 
  <div ng-include="'paginas/titulo.html'"></div>

<div layout="row" layout-align="start stretch" flex="none"> 
 
  <div ng-include="'paginas/menu.html'" 
  	   layout="column" 
  	   layout-align="space-between stretch" 
       class="menu-barra" 
       ng-cloak style="background: rgb(0, 125, 175);"><!-- //MPINARES 20082024 - INICIO - SE CAMBIA MDCOLORS-->
  
  </div>
  
  <div layout="column" layout-align="start stretch" ng-controller="ctrlRptResumen" 
  data-ng-init="loadRptResumen()" style="width: 100%;"> <!-- //MPINARES 20082024 - INICIO - SE COLOCA WIDH-->
  
  
<md-toolbar style="background: rgb(0, 125, 175);" class="md-toolbar-size"><!-- //MPINARES 20082024 - INICIO - SE CAMBIA MDCOLORS -->
	<div class="md-toolbar-tools md-toolbar-tools-size">
	<h2 flex md-truncate md-colors="{color: 'background-A100'}" style="font-size: 17px;">Lista de capacitaciones programadas</h2>
	
		<md-button class="md-button-borde md-sm" ng-click="limpiarFiltro()" aria-label="Limpiar">
		         <md-icon md-font-set="material-icons" style="color: rgb(255,255,255);font-size: 19px;line-height: normal;">delete_forever</md-icon>
				<span style="color: rgb(255,255,255);">Limpiar</span> </md-button>

		<md-button class="md-button-borde md-sm" ng-click="validateDescargaXSL($event)" aria-label="Exportar">
         <md-icon md-font-set="material-icons" style="color: rgb(255,255,255);font-size: 19px;line-height: normal;">file_download</md-icon>
		<span style="color: rgb(255,255,255);">Generar</span> </md-button>

	</div>
</md-toolbar>    
    
<!-- Filtro -->
<md-toolbar class="md-toolbar-filtro-size">
<!--	<div class="md-toolbar-tools md-toolbar-tools-size md-toolbar-font-size" layout="row" layout-align="space-between center"> -->
	<div class="md-toolbar-tools md-toolbar-tools-size md-toolbar-font-size" layout="row" layout-align="start center" style="gap: 20px;">

	
     		<div class="tamaDivFiltro">
            <md-input-container class="container_margen-top" style="margin-top: 42px;"> 
            	<label style="font-size: 15px;">Fecha de inicio</label>
            	<md-datepicker required ng-model="filtro.fechaInicio" 
	                     md-placeholder="Fecha de inicio"
	                     input-aria-describedby="datepicker-description"
	                     input-aria-labelledby="datepicker-header ">
	            </md-datepicker>
            </md-input-container>
            </div>
            
            <div class="tamaDivFiltro">
            <md-input-container class="container_margen-top" style="margin-top: 42px;"> 
            	<label style="font-size: 15px;">Fecha fin</label>
            	<md-datepicker required ng-model="filtro.fechaFin" 
	                     md-placeholder="Fecha fin"
	                     input-aria-describedby="datepicker-description"
	                     input-aria-labelledby="datepicker-header ">
	            </md-datepicker>
            </md-input-container>
            </div>
            
            <div class="tamaDivFiltro" style="font-size: 14px;">
            
			<md-input-container style="margin-right: 15px;"> 
				<label>Tipo Servicio</label>
				<md-select
				ng-model="filtro.idTipoServicio" 
				ng-change="onTipoServicioChange()"
				placeholder="Tipo Servicio"> 
				<md-option ng-value="0">Seleccione Tipo Servicio</md-option>
				<md-option ng-repeat="item in listarParametrosXIdPadreToIdParamTipoServicio" ng-value="item.id">
					{{item.valor}} 
				</md-option>
			 </md-select> 
			</md-input-container>
			
			</div>
			
            <div class="tamaDivFiltro" style="font-size: 14px;">
			<md-input-container style="margin-right: 15px;"> 
				<label>Sede</label>
				<md-select
				ng-model="filtro.idSede" 
				ng-change="onUserChange()"
				placeholder="Sede"> 
				<md-option ng-value="0">Todas las sedes</md-option>
				<md-option
					ng-repeat="item in listaMsSedes" ng-value="item.id">
					{{item.valor}} 
				</md-option>
			
			 </md-select> 
			</md-input-container>
			</div>
			
			<div class="tamaDivFiltro" style="font-size: 14px;">
			<md-input-container style="margin-right: 15px;"> 
				<label>Sist Admin</label>
				<md-select
				ng-model="filtro.idSisAdmin"
				ng-change="onUserChange()" 
				placeholder="Sist Admin"> 
				<md-option ng-value="0">Todas los Sistemas</md-option>
				<md-option
					ng-repeat="item in listaIDValorMsSisAdmiTemaCapa" ng-value="item.id">
					{{item.valor}} 
				</md-option>
			
			 </md-select> 
			</md-input-container>
			</div>
			
			<div class="tamaDivFiltro" style="font-size: 14px;">
			<md-input-container style="margin-right: 15px;"> 
				<label>Usu Int</label>
				<md-select
				ng-model="filtro.idUserInt"
				ng-change="onUserChange()"  
				placeholder="Usu Int"> 
				<md-option ng-value="">Todas los usuarios</md-option>
				<md-option
					ng-repeat="item in listaIDValorMsUserTemaCapaBySedeBySisAdm" ng-value="item.id">
					{{item.valor}} 
				</md-option>
			
			 </md-select> 
			</md-input-container>
			</div>
			
			<div class="tamaDivFiltro" style="font-size: 14px;">
			<md-input-container style="margin-right: 15px;"> 
				<label>Estado</label>
				<md-select
				ng-model="filtro.idEstado" placeholder="Estado"> 
				<md-option ng-value="">Todas los estados</md-option>
				<md-option
					ng-repeat="item in listaMsEstado" ng-value="item.id">
					{{item.valor}} 
				</md-option>
			
			 </md-select> 
			</md-input-container>
			</div>
			
			<div class="tamaDivFiltro" style="font-size: 14px;" ng-if="filtro.idTipoServicio === 133" >
				<label style="color:#191717">Asisti&oacute;</label>
				<input type="checkbox" ng-model="filtro.flagAsis">
			</div>
	
	</div>
</md-toolbar>

<!-- FIN Filtro -->
<md-divider style="margin-top: 20px;"></md-divider>

  <md-table-container>
  
    
 	<md-tabs md-dynamic-height md-border-bottom>
 	
		<md-tab label="Detalle">
			
			<div ng-if="totalRegistros === null" style="display: flex;
			            justify-content: center; 
			            align-items: center;     
			            height: 100%;">
			    <h1 style="font-size: 18px;">
			        <b>Ingresar los filtros de búsqueda.</b> 
			        <span style="font-weight: normal;">Para poder descargar archivo.</span>
			    </h1>
			</div>

			<div ng-if="totalRegistros != null" style="display: flex;
						            justify-content: center; 
						            align-items: center;     
						            height: 100%;">
						    <h1 style="font-size: 18px;"> 
								<b>DESCARGA COMPLETA.</b> <span style="font-weight: normal;">Se ha descargado archivo con {{totalRegistros}} registros.</span>
						    </h1>
						</div>

 		</md-tab>
 		
 		<md-tab label="Dashboard">
			
			<div ng-if="totalRegistros === null" style="display: flex;
						            justify-content: center; 
						            align-items: center;     
						            height: 100%;">
						    <h1 style="font-size: 18px;"> 
						        <b>Ingresar los filtros de búsqueda.</b><span style="font-weight: normal;"> Para poder cargar dashboard.</span>
						    </h1>
						</div>
							
		<div ng-if="totalRegistros != null">			
		<!--<div>  -->
			
    <md-content class="md-padding">
        <div style="display: flex;
			    justify-content: center; 
			    align-items: center;     
			    height: 100%; ">
			    
				<md-button class="md-raised"
				           aria-label="Show Participante"
				           ng-click="showReportResumen()" 
				           ng-disabled="isLoading"> <!-- Disable button during loading -->
				    <md-icon md-font-set="material-icons" style="color: grey;">
				        file_download
				    </md-icon>
				    <span>Cargar reportes con filtros de b&uacute;squedas</span>

				   
				</md-button>
				
			    
			
				<md-button class="md-raised"
	                      aria-label="Show Participante"
	                      ng-click="exportToPdf()">
	                <md-icon md-font-set="material-icons" style="color: grey;">file_download</md-icon>
	                <span>GenerarPDF</span>
	            </md-button>
            
        </div>
		
		<div ng-if="isLoading" 
						 style="display: flex;
					    justify-content: center; 
					    align-items: center;     
					    height: 100%; ">
						<!--
				<md-progress-circular 
			        md-mode="indeterminate" 
			        md-diameter="20" 
			        class="md-accent">
			    </md-progress-circular>
				-->
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
				<span style="margin-left: 10px;">Obteniendo Informaci&oacute;n...</span>
				
		</div>
		
        
    <!--   <md-grid-list id="idGridList"  md-cols="3" md-gutter="2px" md-row-height="3:2" style="width:90%;" ng-if="showDashboard"> -->
		<md-grid-list id="idGridList"  md-cols="2" md-gutter="2px" md-row-height="3:2" style="width:90%;" ng-if="showDashboard"> 
		
		
	<!--	<md-grid-list md-cols="3" md-gutter="10px" md-row-height="fit" style="width:90%;">  -->
        
           <md-grid-tile class="gray" style="padding: 16px;" >
			
			<fieldset style="margin-left: 15px; overflow-x: auto;">
				<legend>Evolución Mensual</legend>
			
			  <canvas id="mixedChartCapaEvolMensual" style="display: block; margin: 0 auto;margin-top: 70px;" width="400" height="150"></canvas><!-- //MPINARES 21082024 - INICIO - SE EDITA STYLE -->
			
			  <table border="1" style="width: 80%; margin-top: 20px; margin-left: 0; border-collapse: collapse;">
				  <tr>
				    <th ng-repeat="m in mesesCapacitacion track by $index">{{m}}</th>
				  </tr>
				  
				  <tr ng-repeat="row in dataCapacitacionEventoRows track by row.id">
				    <td ng-repeat="cell in row.cells track by $index">{{cell}}</td>
				  </tr>
			  </table>
			 
			  </fieldset>
			  
			</md-grid-tile>
			
			
			<md-grid-tile class="gray" style="padding: 16px;">
				<fieldset style="margin-left: 15px; overflow-x: auto;">
					<legend>Usuarios capacitados seg&uacute;n tem&aacute;tica</legend>
				
			    <md-select
				    ng-model="filtrocapa.monthYear"
				    ng-change="onDashCapaByTematica(filtrocapa.monthYear)" 
					placeholder="Mes" 
					style="margin-bottom: 20px;">
				    <md-option ng-value="0">Todos los Meses</md-option>
				    <md-option
				        ng-repeat="item in listaCapaByTematica" ng-value="item.monthYear">
				        {{item.monthYear}} 
				    </md-option>
				</md-select>
			    
			  <canvas id="barChartCapaByTematica" width="400" height="200"></canvas>
			
			  </fieldset>
			</md-grid-tile>
			
			
			<md-grid-tile class="gray" style="padding: 16px;">
			    <fieldset style="margin-left: 15px; overflow-x: hidden;"> 
			        <legend>Usuarios capacitados seg&uacute;n modalidad</legend>

			        <md-select
			            ng-model="filtrocapa.monthYearMod"
			            ng-change="onDashCapaByModalidad(filtrocapa.monthYearMod)" 
			            placeholder="Mes" 
			            style="margin-bottom: 20px;">
			            <md-option ng-value="0">Todos los Meses</md-option>
			            <md-option
			                ng-repeat="item in listaMonthCapaByModalidad" ng-value="item.monthYear">
			                {{item.monthYear}} 
			            </md-option>
			        </md-select>

			        <canvas id="doughnutByModalidad" 
			                ng-style="{'width': canvasWidth, 'height': canvasHeight}" 
			                style="max-width: 300px; max-height: 200px;"></canvas>

			        <table border="1" style="width: 80%; margin-top: 20px; margin-left: 0; border-collapse: collapse;">
			            <tr>
			                <th ng-repeat="m in mesesCapaModa track by $index">{{m}}</th>
			            </tr>
			            <tr ng-repeat="row in dataCapacitacionModalidadRows track by row.id">
			                <td ng-repeat="cell in row.cells track by $index">{{cell}}</td>
			            </tr>
			        </table>
			    </fieldset>
			</md-grid-tile>


			
			
			<md-grid-tile class="gray" style="padding: 16px;" >
				<fieldset style="margin-left: 15px; overflow-x: hidden;"> 
					<legend>Evoluci&oacute;n Mensual Reuni&oacute;n de trabajo</legend>
					
			  <canvas id="mixedChartReunionTraEvolMensual" style="display: block; margin: 0 auto;margin-top: 70px;" width="400" height="150"></canvas>
			
			   <table border="1" style="width: 80%; margin-top: 20px; margin-left: 0; border-collapse: collapse;">
				  <tr>
				    <th ng-repeat="m in mesesReunionTra track by $index">{{m}}</th>
				  </tr>
				  
				  <tr ng-repeat="row in dataReunTrabajRows track by row.id">
				    <td ng-repeat="cell in row.cells track by $index">{{cell}}</td>
				  </tr>
			  </table>
			  
			  </fieldset>
			</md-grid-tile>
			
			
			<md-grid-tile class="gray" style="padding: 16px;">
				<fieldset style="margin-left: 15px; overflow-x: auto;">
						<legend>Usuarios externos seg&uacute;n tem&aacute;tica</legend>
			    
			    <md-select
				    ng-model="filtroreutrabajo.monthYear"
				    ng-change="onDashReuTrabajByTematica(filtroreutrabajo.monthYear)" 
					placeholder="Mes" 
					style="margin-bottom: 20px;">
				    <md-option ng-value="0">Todos los Meses</md-option>
				    <md-option
				        ng-repeat="item in listaReuTrabByTematica" ng-value="item.monthYear">
				        {{item.monthYear}} 
				    </md-option>
				</md-select>
			    
			
			  <canvas id="barChartReuTrabajoByTematica" width="400" height="200"></canvas>
			
			  </fieldset>
			</md-grid-tile>
			
			<md-grid-tile class="gray" style="padding: 16px;"></md-grid-tile>
			
			<md-grid-tile class="gray" style="padding: 16px;" >
				<fieldset style="margin-left: 15px; overflow-x: auto;">
					<legend>Evolución Mensual Asis.Tec</legend>
				
				  <canvas id="mixedChartAsisTecnicaEvolMensual" style="display: block; margin: 0 auto;margin-top: 70px;" width="400" height="150"></canvas>
				
				  <table border="1" style="width: 80%; margin-top: 20px; margin-left: 0; border-collapse: collapse;">
					  <tr>
					    <th ng-repeat="m in mesesAsistenciaTec track by $index">{{m}}</th>
					  </tr>
					  
					  <tr ng-repeat="row in dataAsistenciaTecRows track by row.id">
					    <td ng-repeat="cell in row.cells track by $index">{{cell}}</td>
					  </tr>
				  </table>
				  
				</fieldset>
			</md-grid-tile>
			
			<md-grid-tile class="gray" style="padding: 16px;">
				<fieldset style="margin-left: 15px; overflow-x: auto;">
					<legend>Asistencia T&eacute;cnica seg&uacute;n tem&aacute;tica</legend>
				
			    <md-select
				    ng-model="filtroasistecnica.monthYear"
				    ng-change="onDashAsistenciaTecnicaByTematica(filtroasistecnica.monthYear)" 
					placeholder="Mes" 
					style="margin-bottom: 20px;">
				    <md-option ng-value="0">Todos los Meses</md-option>
				    <md-option
				        ng-repeat="item in listaAsisTecnicaByTematica" ng-value="item.monthYear">
				        {{item.monthYear}} 
				    </md-option>
				</md-select>
			    
			  <canvas id="barChartAsistenciaTecnicaByTematica" width="400" height="200"></canvas>
				</fieldset>
			</md-grid-tile>
			
			
		<!-- 	<md-grid-tile class="gray" style="padding: 16px;">
				<fieldset style="margin-left: 15px; overflow-x: auto;">
					<legend>Asistencia t&eacute;cnica seg&uacute;n modalidad</legend>
						    <md-select
							    ng-model="filtroasistecnica.monthYearMod"
							    ng-change="onDashAsistTecnicaByModalidad(filtroasistecnica.monthYearMod)" 
								placeholder="Mes" 
								style="margin-bottom: 20px;">
							    <md-option ng-value="0">Todos los Meses</md-option>
							    <md-option
							        ng-repeat="item in listaMonthAsisTecByModalidad" ng-value="item.monthYear">
							        {{item.monthYear}} 
							    </md-option>
							</md-select>
						    
						    <canvas id="doughnutAsisTecByModalidad" width="200" height="150" style="max-width: 100%; height: auto;"></canvas>

						     <table border="1" style="width: 80%; margin-top: 20px; margin-left: 0; border-collapse: collapse;">
							  <tr>
							    <th ng-repeat="m in mesesAsisTecModa track by $index">{{m}}</th>
							  </tr>
							  
							  <tr ng-repeat="row in dataAsisTecModalidadRows track by row.id">
							    <td ng-repeat="cell in row.cells track by $index">{{cell}}</td>
							  </tr>
						 	 </table>
				</fieldset>	
			</md-grid-tile> -->
			
			
			<md-grid-tile class="gray" style="padding: 16px;">
			    <fieldset style="margin-left: 15px; overflow-x: hidden;">
			        <legend>Usuarios capacitados seg&uacute;n modalidad</legend>

			        <md-select
					ng-model="filtroasistecnica.monthYearMod"
					ng-change="onDashAsistTecnicaByModalidad(filtroasistecnica.monthYearMod)" 
			            placeholder="Mes" 
			            style="margin-bottom: 20px;">
			            <md-option ng-value="0">Todos los Meses</md-option>
			            <md-option
			                ng-repeat="item in listaMonthAsisTecByModalidad" ng-value="item.monthYear">
			                {{item.monthYear}} 
			            </md-option>
			        </md-select>

			        <canvas id="doughnutAsisTecByModalidad" 
			                ng-style="{'width': canvasWidth, 'height': canvasHeight}" 
			                style="max-width: 300px; max-height: 200px;"></canvas>

					<table border="1" style="width: 80%; margin-top: 20px; margin-left: 0; border-collapse: collapse;">
					  <tr>
					    <th ng-repeat="m in mesesAsisTecModa track by $index">{{m}}</th>
					  </tr>
					  
					  <tr ng-repeat="row in dataAsisTecModalidadRows track by row.id">
					    <td ng-repeat="cell in row.cells track by $index">{{cell}}</td>
					  </tr>
				 	 </table>
			    </fieldset>
			</md-grid-tile>
			
			

			
			<md-grid-tile class="gray" style="padding: 16px;" >
				<fieldset style="margin-left: 15px; overflow-x: auto;">
											<legend>Evolución Mensual Consultas</legend>
							  
							  <canvas id="mixedChartConsultaEvolMensual" style="display: block; margin: 0 auto;margin-top: 70px;" width="400" height="150"></canvas>
							
							  <table border="1" style="width: 80%; margin-top: 20px; margin-left: 0; border-collapse: collapse;">
								  <tr>
								    <th ng-repeat="m in mesesConsultas track by $index">{{m}}</th>
								  </tr>
								  
								  <tr ng-repeat="row in dataConsultasRows track by row.id">
								    <td ng-repeat="cell in row.cells track by $index">{{cell}}</td>
								  </tr>
							  </table>
							  
							  </fieldset>
			</md-grid-tile>
			
			
			<md-grid-tile class="gray" style="padding: 16px;">
				<fieldset style="margin-left: 15px; overflow-x: auto;">
							<legend>Consulta seg&uacute;n tem&aacute;tica</legend>
						    <md-select
							    ng-model="filtroconsulta.monthYear"
							    ng-change="onDashConsultaByTematica(filtroconsulta.monthYear)" 
								placeholder="Mes" 
								style="margin-bottom: 20px;">
							    <md-option ng-value="0">Todos los Meses</md-option>
							    <md-option
							        ng-repeat="item in listaConsultaByTematica" ng-value="item.monthYear">
							        {{item.monthYear}} 
							    </md-option>
							</md-select>
						    
						  <canvas id="barChartConsultaByTematica" width="400" height="200"></canvas>
						  </fieldset>	
			</md-grid-tile>
			
			<!-- 
			<md-grid-tile class="gray" style="padding: 16px;">
				<fieldset style="margin-left: 15px; overflow-x: auto;">
					<legend>Consulta seg&uacute;n modalidad</legend>
					
						    <md-select
							    ng-model="filtroconsulta.monthYearMod"
							    ng-change="onDashConsultaByModalidad(filtroconsulta.monthYearMod)" 
								placeholder="Mes" 
								style="margin-bottom: 20px;">
							    <md-option ng-value="0">Todos los Meses</md-option>
							    <md-option
							        ng-repeat="item in listaMonthConsultaByModalidad" ng-value="item.monthYear">
							        {{item.monthYear}} 
							    </md-option>
							</md-select>
						    
						  
						    <canvas id="doughnutConsultaByModalidad" width="200" height="150" style="max-width: 100%; height: auto;"></canvas>

						    
						     <table border="1" style="width: 80%; margin-top: 20px; margin-left: 0; border-collapse: collapse;">
							  <tr>
							    <th ng-repeat="m in mesesConsultaModa track by $index">{{m}}</th>
							  </tr>
							  
							  <tr ng-repeat="row in dataConsultaModalidadRows track by row.id">
							    <td ng-repeat="cell in row.cells track by $index">{{cell}}</td>
							  </tr>
						 	 </table>
				</fieldset>				
		   </md-grid-tile> -->
		   
		   <md-grid-tile class="gray" style="padding: 16px;">
		   			    <fieldset style="margin-left: 15px; overflow-x: hidden;">
		   			        <legend>Consulta seg&uacute;n modalidad</legend>

		   			        <md-select
							ng-model="filtroconsulta.monthYearMod"
							 ng-change="onDashConsultaByModalidad(filtroconsulta.monthYearMod)"  
		   			            placeholder="Mes" 
		   			            style="margin-bottom: 20px;">
		   			            <md-option ng-value="0">Todos los Meses</md-option>
								<md-option
							        ng-repeat="item in listaMonthConsultaByModalidad" ng-value="item.monthYear">
							        {{item.monthYear}} 
							    </md-option>
		   			        </md-select>

		   			        <canvas id="doughnutConsultaByModalidad" 
		   			                ng-style="{'width': canvasWidth, 'height': canvasHeight}" 
		   			                style="max-width: 300px; max-height: 200px;"></canvas>

							<table border="1" style="width: 80%; margin-top: 20px; margin-left: 0; border-collapse: collapse;">
							  <tr>
							    <th ng-repeat="m in mesesConsultaModa track by $index">{{m}}</th>
							  </tr>
							  
							  <tr ng-repeat="row in dataConsultaModalidadRows track by row.id">
							    <td ng-repeat="cell in row.cells track by $index">{{cell}}</td>
							  </tr>
						 	 </table>
		   			    </fieldset>
		   	</md-grid-tile>
		   
		   
			
			<md-grid-tile>
				<canvas id="doughnutEstaPorTema" width="200" height="150" style="max-width: 100%; height: auto;"></canvas>
			</md-grid-tile>

			<md-grid-tile >
				  
				<fieldset style="margin-left: 15px;">
							<legend>Estad&iacute;stica por Temas</legend>
				
				  <md-select
  					    ng-model="filtroesttema.sisAdmin"
  					    ng-change="onDashEstTemaDashAndTemas(filtroesttema.sisAdmin)" 
  					    placeholder="Sist. Admin."> 
  					    <md-option ng-value="0">Seleccionar Sist. Admin.</md-option>
  					    <md-option
  					        ng-repeat="item in listSistAdmin" ng-value="item.sistAdmin">
  					        {{item.sistAdmin}} 
  					    </md-option>
  					</md-select>
					
					<br />
  					
  					<md-select
  					    ng-model="filtroesttema.tema"
  					    ng-change="onDashEstTemaSubTema(filtroesttema.sisAdmin, filtroesttema.tema)" 
  					    placeholder="Tema"> 
  					    <md-option ng-value="0">Seleccionar Temas</md-option>
  					    <md-option
  					        ng-repeat="item in listTema" ng-value="item.tema">
  					        {{item.tema}} 
  					    </md-option>
  					</md-select>
					
					
					<br />
					
					
						<table border="1" style="width: 80%; margin-top: 20px; margin-left: 0; border-collapse: collapse;">
							<tr>
							       <th>Subtema</th> <!-- Header for labels (subtema) -->
							       <th>Cantidad Total</th> <!-- Header for data (cantidadTotal) -->
							   </tr>
							   <tr ng-repeat="row in subTemas track by $index">
							       <td>{{row.subtema}}</td> <!-- Display each subtema (label) -->
							       <td>{{row.cantidadTotal}}</td> <!-- Display corresponding cantidadTotal (data) -->
							   </tr>
						   <tr>
						          <td><strong>Total General</strong></td>
						          <td><strong>{{totalCantidadTotal}}</strong></td> <!-- Display the sum here -->
						   </tr>   
						</table>
						
						
					
					
					</fieldset>
					
		  	</md-grid-tile>
			
			
			<md-grid-tile class="gray" style="padding: 16px; margin-bottom: 10px;"> 
							  
				<fieldset style="margin-left: 15px;">
							<legend>REGISTROS DENTRO Y FUERA DE PLAZO DE ASISTENCIAS T&Eacute;CNICAS</legend>
							
							<md-select
							    ng-model="filtroasistecnicaplazo.monthYearMod"
							    ng-change="onDashAsistTecnicaPlazo(filtroasistecnicaplazo.monthYearMod)" 
							    placeholder="Mes"> 
							    <md-option ng-value="0">Todos los Meses</md-option>
							    <md-option
							        ng-repeat="item in listaMonthAsistenciaDentroFueraPlazo" ng-value="item.monthYear">
							        {{item.monthYear}} 
							    </md-option>
							</md-select>
							
							<md-button class="md-raised"
							           aria-label="Export to Excel"
							           ng-click="exportTableToExcelRegAsistTecnica()">
							    <md-icon md-font-set="material-icons" style="color: grey;">file_download</md-icon>
							    <span>Exportar a Excel</span>
							</md-button>
							
							<div style="overflow: auto; max-height: 400px; max-width: 100%; margin-top: 20px;">
							<table id="tblRegDentroFueraPlazoAsisTecnica" border="1" style="width: 80%; margin-top: 20px; margin-left: 0; border-collapse: collapse;">
							    <tr>
							        <th rowspan="2">Conectamef</th> 
							        <th rowspan="2">Especialista/analista/implantador</th>
							        <th rowspan="2">Apellidos y nombres</th>
							        <th colspan="2">Registros fuera de plazo</th>
							        <th colspan="2">Registros dentro de plazo</th>
							        <th rowspan="2">Total de registros</th>
							    </tr>
							    <tr>
							        <th>N&uacute;mero</th>
							        <th>Porcentaje (%)</th>
							        <th>N&uacute;mero</th>
							        <th>Porcentaje (%)</th>
							    </tr>
								<tr ng-repeat="item in listAsistenciaDentroFueraPlazo">
								        <td>{{item.sede}}</td> 
								        <td>{{item.descripcion}}</td>
								        <td>{{item.apellidosNombres}}</td>
								        <td>{{item.totalFueraPlazo}}</td> 
								        <td>{{item.porcentajeFueraPlazo}}%</td> 
								        <td>{{item.totalDentroPlazo}}</td> 
								        <td>{{item.porcentajeDentroPlazo}}%</td> 
								        <td>{{item.total}}</td>  
								</tr>
								<tr>
								    <td colspan="3"><strong>Total</strong></td>
								    <td>{{getTotalFueraPlazoAsisTec(listAsistenciaDentroFueraPlazo)}}</td>
								    <td>{{(getTotalFueraPlazoAsisTec(listAsistenciaDentroFueraPlazo) / getTotalRegistrosAsisTec(listAsistenciaDentroFueraPlazo)) * 100 | number:2}}%</td>
								    <td>{{getTotalDentroPlazoAsisTec(listAsistenciaDentroFueraPlazo)}}</td>
								    <td>{{(getTotalDentroPlazoAsisTec(listAsistenciaDentroFueraPlazo) / getTotalRegistrosAsisTec(listAsistenciaDentroFueraPlazo)) * 100 | number:2}}%</td>
								    <td>{{getTotalRegistrosAsisTec(listAsistenciaDentroFueraPlazo)}}</td>
								</tr>
							</table>
							</div>
				</fieldset>
															
			</md-grid-tile>
			
			
			<md-grid-tile class="gray" style="padding: 16px; margin-bottom: 10px;"> 
													  
							<fieldset style="margin-left: 15px;">
										<legend>REGISTROS DENTRO Y FUERA DE PLAZO CONSULTAS</legend>
										
										<md-select
										    ng-model="filtroconsultaplazo.monthYearMod"
										    ng-change="onDashConsultaPlazo(filtroconsultaplazo.monthYearMod)" 
										    placeholder="Mes"> 
										    <md-option ng-value="0">Todos los Meses</md-option>
										    <md-option
										        ng-repeat="item in listaMonthConsultaDentroFueraPlazo" ng-value="item.monthYear">
										        {{item.monthYear}} 
										    </md-option>
										</md-select>
										
										<md-button class="md-raised"
										           aria-label="Export to Excel"
										           ng-click="exportTableToExcelDentroFueraPlazoConsultas()">
										    <md-icon md-font-set="material-icons" style="color: grey;">file_download</md-icon>
										    <span>Exportar a Excel</span>
										</md-button>
										
										<div style="overflow: auto; max-height: 400px; max-width: 100%; margin-top: 20px;">
										<table id="tblregDentroFueraPlazoConsultas" border="1" style="width: 80%; margin-top: 20px; margin-left: 0; border-collapse: collapse;">
										    <tr>
										        <th rowspan="2">Conectamef</th> 
										        <th rowspan="2">Especialista/analista/implantador</th>
										        <th rowspan="2">Apellidos y nombres</th>
										        <th colspan="2">Registros fuera de plazo</th>
										        <th colspan="2">Registros dentro de plazo</th>
										        <th rowspan="2">Total de registros</th>
										    </tr>
										    <tr>
										        <th>N&uacute;mero</th>
										        <th>Porcentaje (%)</th>
										        <th>N&uacute;mero</th>
										        <th>Porcentaje (%)</th>
										    </tr>
											<tr ng-repeat="item in listConsultaDentroFueraPlazo">
											        <td>{{item.sede}}</td> 
											        <td>{{item.descripcion}}</td>
											        <td>{{item.apellidosNombres}}</td>
											        <td>{{item.totalFueraPlazo}}</td> 
											        <td>{{item.porcentajeFueraPlazo}}%</td> 
											        <td>{{item.totalDentroPlazo}}</td> 
											        <td>{{item.porcentajeDentroPlazo}}%</td> 
											        <td>{{item.total}}</td>  
											</tr>
											<tr>
											    <td colspan="3"><strong>Total</strong></td>
											    <td>{{getTotalFueraPlazoConsulta(listConsultaDentroFueraPlazo)}}</td>
											    <td>{{(getTotalFueraPlazoConsulta(listConsultaDentroFueraPlazo) / getTotalRegistrosConsulta(listConsultaDentroFueraPlazo)) * 100 | number:2}}%</td>
											    <td>{{getTotalDentroPlazoConsulta(listConsultaDentroFueraPlazo)}}</td>
											    <td>{{(getTotalDentroPlazoConsulta(listConsultaDentroFueraPlazo) / getTotalRegistrosConsulta(listConsultaDentroFueraPlazo)) * 100 | number:2}}%</td>
											    <td>{{getTotalRegistrosConsulta(listConsultaDentroFueraPlazo)}}</td>
											</tr>
										</table>
										</div>
							</fieldset>
																		
						</md-grid-tile>
			
			
						<md-grid-tile class="gray" style="padding: 16px; margin-bottom: 10px;"> 
																			  
													<fieldset style="margin-left: 15px;">
																<legend>REGISTROS DENTRO Y FUERA DE PLAZO CAPACITACIONES</legend>
																
																<md-select
																    ng-model="filtrocapacitacionplazo.monthYearMod"
																    ng-change="onDashCapacitacionPlazo(filtrocapacitacionplazo.monthYearMod)" 
																    placeholder="Mes"> 
																    <md-option ng-value="0">Todos los Meses</md-option>
																    <md-option
																        ng-repeat="item in listaMonthCapacitacionDentroFueraPlazo" ng-value="item.monthYear">
																        {{item.monthYear}} 
																    </md-option>
																</md-select>
																
																<md-button class="md-raised"
																           aria-label="Export to Excel"
																           ng-click="exportTableToExcelDentroFueraPlazoCapacitaciones()">
																    <md-icon md-font-set="material-icons" style="color: grey;">file_download</md-icon>
																    <span>Exportar a Excel</span>
																</md-button>
																
																<div style="overflow: auto; max-height: 400px; max-width: 100%; margin-top: 20px;">
																<table id="tblRegDentroFueraPlazoCapacitaciones" border="1" style="width: 80%; margin-top: 20px; margin-left: 0; border-collapse: collapse;">
																    <tr>
																        <th rowspan="2">Conectamef</th> 
																        <th rowspan="2">Especialista/analista/implantador</th>
																        <th rowspan="2">Apellidos y nombres</th>
																        <th colspan="2">Registros fuera de plazo</th>
																        <th colspan="2">Registros dentro de plazo</th>
																        <th rowspan="2">Total de registros</th>
																    </tr>
																    <tr>
																        <th>N&uacute;mero</th>
																        <th>Porcentaje (%)</th>
																        <th>N&uacute;mero</th>
																        <th>Porcentaje (%)</th>
																    </tr>
																	<tr ng-repeat="item in listCapacitacionDentroFueraPlazo">
																	        <td>{{item.sede}}</td> 
																	        <td>{{item.descripcion}}</td>
																	        <td>{{item.apellidosNombres}}</td>
																	        <td>{{item.totalFueraPlazo}}</td> 
																	        <td>{{item.porcentajeFueraPlazo}}%</td> 
																	        <td>{{item.totalDentroPlazo}}</td> 
																	        <td>{{item.porcentajeDentroPlazo}}%</td> 
																	        <td>{{item.total}}</td>  
																	</tr>
																	<tr>
																	    <td colspan="3"><strong>Total</strong></td>
																	    <td>{{getTotalFueraPlazoCapacitacion(listCapacitacionDentroFueraPlazo)}}</td>
																	    <td>{{(getTotalFueraPlazoCapacitacion(listCapacitacionDentroFueraPlazo) / getTotalRegistrosCapacitacion(listCapacitacionDentroFueraPlazo)) * 100 | number:2}}%</td>
																	    <td>{{getTotalDentroPlazoCapacitacion(listCapacitacionDentroFueraPlazo)}}</td>
																	    <td>{{(getTotalDentroPlazoCapacitacion(listCapacitacionDentroFueraPlazo) / getTotalRegistrosCapacitacion(listCapacitacionDentroFueraPlazo)) * 100 | number:2}}%</td>
																	    <td>{{getTotalRegistrosCapacitacion(listCapacitacionDentroFueraPlazo)}}</td>
																	</tr>
																</table>
																</div>
													</fieldset>
																								
									</md-grid-tile>
									
									
									<md-grid-tile class="gray" style="padding: 16px; margin-bottom: 10px;"> 
												    <fieldset style="margin-left: 15px; overflow-x: auto;">
												        <legend>REGISTROS DENTRO Y FUERA DE PLAZO DE ASISTENCIAS T&Eacute;CNICAS POR SISTEMA ADMINISTRATIVO</legend>

												        <md-select
												            ng-model="filtroasistecnicasaplazo.monthYearMod"
												            ng-change="onDashAsistTecnicaSAPlazo(filtroasistecnicasaplazo.monthYearMod)" 
												            placeholder="Mes"> 
												            <md-option ng-value="0">Todos los Meses</md-option>
												            <md-option
												                ng-repeat="item in listaMonthAsistenciaSADentroFueraPlazo" ng-value="item.monthYear">
												                {{item.monthYear}} 
												            </md-option>
												        </md-select>
														
														<md-button class="md-raised"
														           aria-label="Export to Excel"
														           ng-click="exportTableToExcelDentroFueraPlazoAsisTecnicaPorSistAdm()">
														    <md-icon md-font-set="material-icons" style="color: grey;">file_download</md-icon>
														    <span>Exportar a Excel</span>
														</md-button>

												       <div style="overflow: auto; max-height: 400px; max-width: 100%; margin-top: 20px;">
												            <table id="tblRegDentroFueraPlazoAsisTecnicaPorSistAdm" border="1" style="width: 100%; border-collapse: collapse;">
												                <tr>
												                    <th rowspan="2">Conectamef</th> 
												                    <th rowspan="2">Especialista/analista/implantador</th>
												                    <th rowspan="2">Apellidos y nombres</th>
												                    <th colspan="2">Registros fuera de plazo</th>
												                    <th colspan="2">Registros dentro de plazo</th>
												                    <th rowspan="2">Total de registros</th>
												                </tr>
												                <tr>
												                    <th>N&uacute;mero</th>
												                    <th>Porcentaje (%)</th>
												                    <th>N&uacute;mero</th>
												                    <th>Porcentaje (%)</th>
												                </tr>
												                <tr ng-repeat="item in listAsistenciaSADentroFueraPlazo">
												                    <td>{{item.sede}}</td> 
												                    <td>{{item.descripcion}}</td>
												                    <td>{{item.apellidosNombres}}</td>
												                    <td>{{item.totalFueraPlazo}}</td> 
												                    <td>{{item.porcentajeFueraPlazo}}%</td> 
												                    <td>{{item.totalDentroPlazo}}</td> 
												                    <td>{{item.porcentajeDentroPlazo}}%</td> 
												                    <td>{{item.total}}</td>  
												                </tr>
												                <tr>
												                    <td colspan="3"><strong>Total</strong></td>
												                    <td>{{getTotalFueraPlazoAsisTecSA(listAsistenciaDentroFueraPlazo)}}</td>
												                    <td>{{(getTotalFueraPlazoAsisTecSA(listAsistenciaDentroFueraPlazo) / getTotalRegistrosAsisTecSA(listAsistenciaSADentroFueraPlazo)) * 100 | number:2}}%</td>
												                    <td>{{getTotalDentroPlazoAsisTecSA(listAsistenciaDentroFueraPlazo)}}</td>
												                    <td>{{(getTotalDentroPlazoAsisTecSA(listAsistenciaDentroFueraPlazo) / getTotalRegistrosAsisTecSA(listAsistenciaSADentroFueraPlazo)) * 100 | number:2}}%</td>
												                    <td>{{getTotalRegistrosAsisTecSA(listAsistenciaDentroFueraPlazo)}}</td>
												                </tr>
												            </table>
												        </div>
												    </fieldset>
												</md-grid-tile>

												<md-grid-tile class="gray" style="padding: 16px; margin-bottom: 10px;"> 
																						  
																<fieldset style="margin-left: 15px; overflow-x: auto;">
																			<legend>REGISTROS DENTRO Y FUERA DE PLAZO CONSULTAS POR SISTEMA ADMINISTRATIVO</legend>
																			
																			<md-select
																			    ng-model="filtroconsultasaplazo.monthYearMod"
																			    ng-change="onDashConsultaSAPlazo(filtroconsultasaplazo.monthYearMod)" 
																			    placeholder="Mes"> 
																			    <md-option ng-value="0">Todos los Meses</md-option>
																			    <md-option
																			        ng-repeat="item in listaMonthConsultaSADentroFueraPlazo" ng-value="item.monthYear">
																			        {{item.monthYear}} 
																			    </md-option>
																			</md-select>
																			
																			<md-button class="md-raised"
																			           aria-label="Export to Excel"
																			           ng-click="exportTableToExcelDentroFueraPlazoConsultaPorSistAdm()">
																			    <md-icon md-font-set="material-icons" style="color: grey;">file_download</md-icon>
																			    <span>Exportar a Excel</span>
																			</md-button>
																			
																			<div style="overflow: auto; max-height: 400px; max-width: 100%; margin-top: 20px;">
																			<table id="tblRegDentroFueraPlazoConsultaPorSisteAdm" border="1" style="width: 80%; margin-top: 20px; margin-left: 0; border-collapse: collapse;">
																			    <tr>
																			        <th rowspan="2">Conectamef</th> 
																			        <th rowspan="2">Especialista/analista/implantador</th>
																			        <th rowspan="2">Apellidos y nombres</th>
																			        <th colspan="2">Registros fuera de plazo</th>
																			        <th colspan="2">Registros dentro de plazo</th>
																			        <th rowspan="2">Total de registros</th>
																			    </tr>
																			    <tr>
																			        <th>N&uacute;mero</th>
																			        <th>Porcentaje (%)</th>
																			        <th>N&uacute;mero</th>
																			        <th>Porcentaje (%)</th>
																			    </tr>
																				<tr ng-repeat="item in listConsultaSADentroFueraPlazo">
																				        <td>{{item.sede}}</td> 
																				        <td>{{item.descripcion}}</td>
																				        <td>{{item.apellidosNombres}}</td>
																				        <td>{{item.totalFueraPlazo}}</td> 
																				        <td>{{item.porcentajeFueraPlazo}}%</td> 
																				        <td>{{item.totalDentroPlazo}}</td> 
																				        <td>{{item.porcentajeDentroPlazo}}%</td> 
																				        <td>{{item.total}}</td>  
																				</tr>
																				<tr>
																				    <td colspan="3"><strong>Total</strong></td>
																				    <td>{{getTotalFueraPlazoConsultaSA(listConsultaSADentroFueraPlazo)}}</td>
																				    <td>{{(getTotalFueraPlazoConsultaSA(listConsultaSADentroFueraPlazo) / getTotalRegistrosConsultaSA(listConsultaSADentroFueraPlazo)) * 100 | number:2}}%</td>
																				    <td>{{getTotalDentroPlazoConsultaSA(listConsultaSADentroFueraPlazo)}}</td>
																				    <td>{{(getTotalDentroPlazoConsultaSA(listConsultaSADentroFueraPlazo) / getTotalRegistrosConsultaSA(listConsultaSADentroFueraPlazo)) * 100 | number:2}}%</td>
																				    <td>{{getTotalRegistrosConsultaSA(listConsultaSADentroFueraPlazo)}}</td>
																				</tr>
																			</table>
																			</div>
																</fieldset>
																											
															</md-grid-tile>
						
						
</md-grid-list> 


    </md-content>
	
	
	</div>
</md-tab>
    
    </md-tabs>
    
    
    
  </md-table-container>
  
  
  </div>
  
  
  
  
  
</div>
</form>
</body>
</html>