<!-- NUEVO ARCHIVO CUSCATA - 07082024-->
<div layout="column" layout-align="start stretch" data-ng-init="loadRptResumen()">
<!-- //MPINARES 14022024 - INICIO - SE CAMBIA TODO -->
<md-toolbar md-colors="{background: 'primary-700'}" class="md-toolbar-size">
	<div class="md-toolbar-tools md-toolbar-tools-size">
	<h2 flex md-truncate md-colors="{color: 'background-A100'}" style="font-size: 17px;">Lista de capacitaciones programadas</h2>
	

		<md-button class="md-button-borde md-sm" ng-click="validateDescargaXSL($event)" aria-label="Exportar">
         <md-icon md-font-set="material-icons" style="color: rgb(255,255,255);font-size: 19px;line-height: normal;">file_download</md-icon>
		<span style="color: rgb(255,255,255);">Exportar</span> </md-button>

	</div>
</md-toolbar>    
    
<!-- Filtro -->
<md-toolbar class="md-toolbar-filtro-size">
	<div class="md-toolbar-tools md-toolbar-tools-size md-toolbar-font-size" layout="row" layout-align="space-between center">
	
     		<div class="tamaDivFiltro">
            <md-input-container class="container_margen-top" style="margin-top: 42px;"> 
            	<label style="font-size: 15px;">Fecha de inicio</label>
            	<md-datepicker required ng-model="filtro.fechaInicio" 
	                     md-placeholder="Fecha de inicio"
	                     input-aria-describedby="datepicker-description"
	                     input-aria-labelledby="datepicker-header ">
	            </md-datepicker>
            </md-input-container>
            </div>
            
            <div class="tamaDivFiltro">
            <md-input-container class="container_margen-top" style="margin-top: 42px;"> 
            	<label style="font-size: 15px;">Fecha fin</label>
            	<md-datepicker required ng-model="filtro.fechaFin" 
	                     md-placeholder="Fecha fin"
	                     input-aria-describedby="datepicker-description"
	                     input-aria-labelledby="datepicker-header ">
	            </md-datepicker>
            </md-input-container>
            </div>
            
            <div class="tamaDivFiltro" style="font-size: 14px;">
            
			<md-input-container style="margin-right: 15px;"> 
				<label>Tipo Servicio</label>
				<md-select
				ng-model="filtro.idTipoServicio" 
				ng-change="onTipoServicioChange()"
				placeholder="Tipo Servicio"> 
				<md-option ng-value="0">Seleccione Tipo Servicio</md-option>
				<md-option ng-repeat="item in listarParametrosXIdPadreToIdParamTipoServicio" ng-value="item.id">
					{{item.valor}} 
				</md-option>
			 </md-select> 
			</md-input-container>
			
			</div>
			
            <div class="tamaDivFiltro" style="font-size: 14px;">
			<md-input-container style="margin-right: 15px;"> 
				<label>Sede</label>
				<md-select
				ng-model="filtro.idSede" 
				ng-change="onUserChange()"
				placeholder="Sede"> 
				<md-option ng-value="0">Todas las sedes</md-option>
				<md-option
					ng-repeat="item in listaMsSedes" ng-value="item.id">
					{{item.valor}} 
				</md-option>
			
			 </md-select> 
			</md-input-container>
			</div>
			
			<div class="tamaDivFiltro" style="font-size: 14px;">
			<md-input-container style="margin-right: 15px;"> 
				<label>Sist Admin</label>
				<md-select
				ng-model="filtro.idSisAdmin"
				ng-change="onUserChange()" 
				placeholder="Sist Admin"> 
				<md-option ng-value="0">Todas los Sistemas</md-option>
				<md-option
					ng-repeat="item in listaIDValorMsSisAdmiTemaCapa" ng-value="item.id">
					{{item.valor}} 
				</md-option>
			
			 </md-select> 
			</md-input-container>
			</div>
			
			<div class="tamaDivFiltro" style="font-size: 14px;">
			<md-input-container style="margin-right: 15px;"> 
				<label>Usu Int</label>
				<md-select
				ng-model="filtro.idUserInt"
				ng-change="onUserChange()"  
				placeholder="Usu Int"> 
				<md-option ng-value="">Todas los usuarios</md-option>
				<md-option
					ng-repeat="item in listaIDValorMsUserTemaCapaBySedeBySisAdm" ng-value="item.id">
					{{item.valor}} 
				</md-option>
			
			 </md-select> 
			</md-input-container>
			</div>
			
			<div class="tamaDivFiltro" style="font-size: 14px;">
			<md-input-container style="margin-right: 15px;"> 
				<label>Estado</label>
				<md-select
				ng-model="filtro.idEstado" placeholder="Estado"> 
				<md-option ng-value="">Todas los estados</md-option>
				<md-option
					ng-repeat="item in listaMsEstado" ng-value="item.id">
					{{item.valor}} 
				</md-option>
			
			 </md-select> 
			</md-input-container>
			</div>
			
			<div class="tamaDivFiltro" style="font-size: 14px;" ng-if="filtro.idTipoServicio === 133" >
				<label>Asisti&oacute;</label>
				<input type="checkbox" ng-model="filtro.flagAsis">
			</div>
	
	</div>
</md-toolbar>

<!-- FIN Filtro -->
<md-divider style="margin-top: 20px;"></md-divider>

  <md-table-container>
  
    
 	<md-tabs md-dynamic-height md-border-bottom>
 	
		<md-tab label="Detalle">


 		</md-tab>
 		
 		<md-tab label="Dashboard">
    <md-content class="md-padding">
        <div style="display: flex;
			    justify-content: center; 
			    align-items: center;     
			    height: 100%; ">
			    
            <md-button class="md-raised"
                      aria-label="Show Participante"
                      ng-click="showDialogParticipante($event)">
                <md-icon md-font-set="material-icons" style="color: grey;">file_download</md-icon>
                <span>Cargar reportes con filtros de b&uacute;squedas</span>
            </md-button>
            
            
                 
            
            
        </div>
        
        
        <md-grid-list md-cols="2" md-gutter="2px" md-row-height="3:2" style="width:90%;">
            
            <md-grid-tile class="gray">
            
		      <md-grid-tile-header>
		        <h3>Por canal de atenci&oacute;n</h3>
		      </md-grid-tile-header>
		      
		      <canvas id="canales" class="chart chart-doughnut"
			           chart-data="canalesV" chart-labels="canalesL"
			           chart-options="optionsCanalesChart" chart-colors="coloursCanales">
			    </canvas>   
			      
		    </md-grid-tile>
            
            </md-grid-list> 
        
    </md-content>
</md-tab>
    
    </md-tabs>
    
    
    
  </md-table-container>
  
  
  </div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
<div id="pie" ng-include="'paginas/pie.html'"></div> 
