  <!--PURIBE 04012024 - INICIO-->
<div flex="200" layout="column" layout-align="start stretch" class="margenForm" 
data-ng-init="editprtParametros()">
    
  <!--PURIBE 20012024 - INICIO-->
<div layout="row" layout-aling="space-between start">
    <md-toolbar md-colors="{background: 'primary-700'}" class="md-toolbar-size">
        <div class="md-toolbar-tools md-toolbar-tools-size" >
          <div flex="auto" ng-if="nuevo">        
            <h2 md-truncate md-colors="{color: 'background-A100'}">Nuevo Par&aacute;metro</h2>
          </div>
          <div flex="auto" ng-if="!nuevo">        
            <h2 md-truncate md-colors="{color: 'background-A100'}">Datos del Par&aacute;metro {{prtParametrosModelo.descripcion}}</h2>
          </div>        
          <md-button class="md-button-borde md-sm" ng-click="cancelarPrtParametros()" aria-label="Salir">
     <md-icon md-font-set="material-icons" md-colors="{color: 'background-300'}">undo</md-icon> 
            <span ng-if="nuevo">Cancelar</span>
            <span ng-if="!nuevo">Salir</span>   
          </md-button>
          <md-button class="md-button-borde md-sm" ng-click="salvarPrtParametros($event)" 
          ng-if="prtParametrosModelo.editopcion==1" aria-label="Grabar">
          <md-icon md-font-set="material-icons" md-colors="{color: 'background-300'}">save</md-icon> 
          <span  class="colortexto">Grabar</span>       
          </md-button>
          </div>
    </md-toolbar>    
</div>
 <!--PURIBE 10012024 - INICIO-->
  <!--PURIBE 25012024 - INICIO-->
<div layout="column">
<fieldset  style="margin: 15px;">
<legend>Datos de Parámetros</legend>
<md-content md-whiteframe="1" class="overflowEsconder noshadow" md-colors="{background: 'background-A100'}">
  <div layout="row" layout-align="space-around start">
    <div layout="row" layout-aling="center start"> 
        <div class="letraenvoltura" ng-if="prtParametrosModelo.editopcion < 2" flex="auto">
        <label class="letraLabel" flex>Dependencia</label>    
        <md-input-container md-no-float="true" class="input-container-margen letraTexto" flex="100">
            <md-select ng-model="prtParametrosModelo.idpadre" ng-change="changeIdpadre()" required
                       placeholder="Seleccionar Dependencia"
                       name="idpadre"
                       >
                <!--PURIBE 25012024 - INICIO-->
             <md-option ng-value="0">PADRE</md-option>
             <md-option ng-repeat="item in listaPrtParametrosIdpadre" ng-value="item.id">
                 {{item.valor}}
             </md-option>
              <!--PURIBE 25012024 - FIN-->
            </md-select>
            <div ng-messages="prtParametrosForm.idpadre.$error">
	      <div ng-message="required">Se requiere seleccione la sede.</div>
	         </div>
         </md-input-container>
        </div>
         <div class="letraenvoltura" ng-if="prtParametrosModelo.editopcion > 1" flex="auto">  
            <div class="letraLabel">Dependencia:</div>
            <div class="letraTexto">{{prtParametrosModelo.descripcion}}</div>
         </div>			 
 </div><div layout="row" layout-aling="center start"> 
        <div class="letraenvoltura" ng-if="prtParametrosModelo.editopcion < 2" flex="auto">
        <label class="letraLabel" flex>Descripción</label>    
        <md-input-container md-no-float="true" class="input-container-margen letraTexto" flex="100">
            <input type="text" md-maxlength="100"  style="width:300px;"  required name="descripcion" ng-model="prtParametrosModelo.descripcion"
                   placeholder="Ingresar Descripción"
                   >
           <div ng-messages="prtParametrosForm.descripcion.$error">
            <div ng-message="minlength">El N&uacute;mero de caracteres es muy corto</div>    
            <div ng-message="required">Se requiere el Descripción.</div>
            <div ng-message="maxlength">El Descripción tiene un m&aacute;ximo de 100 caracteres.</div>
            </div>
         </md-input-container>
        </div>
         <div class="letraenvoltura" ng-if="prtParametrosModelo.editopcion > 1" flex="auto">  
            <div class="letraLabel">Descripción:</div>
            <div class="letraTexto">{{prtParametrosModelo.descripcion}}</div>
         </div>			 
 </div>
 
 <div layout="row" layout-aling="center start"> 
  <div class="letraenvoltura" ng-if="prtParametrosModelo.editopcion < 2" flex="auto">
     <md-switch ng-model="prtParametrosModelo.estado" aria-label="Estado" ng-change="updateModel()" class="custom-switch">
        Activo: {{ prtParametrosModelo.estado ? '3' : '0' }}
     </md-switch>
     </div>
  
<div class="letraenvoltura" ng-if="prtParametrosModelo.editopcion > 1" flex="auto"> 
  <md-switch ng-model="prtParametrosModelo.estado" ng-disabled="true" aria-label="Estado"  class="custom-switch">
     Activo: {{ prtParametrosModelo.estado ? '3' : '0' }}
  </md-switch>
</div>
      

</div>
</div>
 <!--PURIBE 25012024 - FIN-->
   <!--PURIBE 10012024 - FIN-->
    <!--PURIBE 20012024 - FIN-->
</md-content>
</fieldset>
</div>
<div>&nbsp;</div>

</div> <!-- FIN -->
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
<!-- DIALOGOS --> 

<!-- FIN DIALOGOS -->
<!-- Footer -->
<div ng-include="'paginas/pie.html'"></div>
<!-- Fin Footer -->