<div flex="100" layout="column" layout-align="start stretch" class="margenForm" 
data-ng-init="editmsTema()">
    
<md-toolbar md-colors="{background: 'primary-700'}" class="md-toolbar-size">
	  <div class="md-toolbar-tools md-toolbar-tools-size" >
      <div flex="auto" ng-if="nuevo">        
        <h2 md-truncate md-colors="{color: 'background-A100'}">Nuevo Temas</h2>
      </div>
      <div flex="auto" ng-if="!nuevo">        
        <h2 md-truncate md-colors="{color: 'background-A100'}">{{msTemaModelo.XXXX}}</h2>
      </div>        
       <md-button class="md-button-borde md-sm" ng-click="cancelarMsTema()" aria-label="Salir">
         <md-icon ng-class="md-icon-color" class="md-icon-color" md-font-set="material-icons">undo</md-icon>
         <span ng-if="nuevo" hide-xs show-gt-sm>Salir</span>
         <span ng-if="!nuevo" hide-xs show-gt-sm>Salir</span>
       </md-button>
       <md-button class="md-button-borde md-sm" ng-click="salvarMsTema($event)" ng-if="msTemaModelo.editopcion==1" aria-label="Grabar">
         <md-icon ng-class="md-icon-color" class="md-icon-color" md-font-set="material-icons">save</md-icon>
         <span hide-xs show-gt-sm>Grabar</span>       
       </md-button>
      </div>
</md-toolbar>    
    
<div layout="column">
<fieldset>
<legend>Datos de Temas</legend>
<md-content md-whiteframe="1" class="overflowEsconder noshadow" md-colors="{background: 'background-A100'}">
 <div layout="row" layout-aling="center start" layout-xs="column">       
        <div class="letraenvoltura" ng-if="msTemaModelo.editopcion < 2" flex="auto">
            
        <md-input-container md-no-float="true" class="input-container-margen letraTexto">
            <label>Sistema Administrativo</label>
            <md-select ng-model="msTemaModelo.idSistAdmi" ng-change="changeIdSistAdmi()" required
                       name="idSistAdmi"
                       >
             <md-option ng-repeat="item in listaMsSisAdmistrativoIdSistAdmi" ng-value="item.id">
                 {{item.valor}}
             </md-option>
            </md-select>
            <div ng-messages="msTemaForm.idSistAdmi.$error">
	      <div ng-message="required">Se requiere seleccione la sede.</div>
	    </div>
         </md-input-container>
        </div>
         <div class="letraenvoltura" ng-if="msTemaModelo.editopcion > 1" flex="auto">  
            <div class="letraLabel">Sistema Administrativo:</div>
            <div class="letraTexto">{{msTemaModelo.idSistAdmiTxt}}</div>
         </div>			 
 </div><div layout="row" layout-aling="center start" layout-xs="column"> 
        <div class="letraenvoltura" ng-if="msTemaModelo.editopcion < 2" flex="auto">        
        <md-input-container md-no-float="true" class="input-container-margen letraTexto">
            <label>Descripción</label>    
            <input type="text" md-maxlength="100" required name="descripcion" ng-model="msTemaModelo.descripcion"
                   >
           <div ng-messages="msTemaForm.descripcion.$error">
            <div ng-message="minlength">El N&uacute;mero de caracteres es muy corto</div>    
            <div ng-message="required">Se requiere el Descripción.</div>
            <div ng-message="maxlength">El Descripción tiene un m&aacute;ximo de 100 caracteres.</div>
            </div>
         </md-input-container>
        </div>
         <div class="letraenvoltura" ng-if="msTemaModelo.editopcion > 1" flex="auto">  
            <div class="letraLabel">Descripción:</div>
            <div class="letraTexto">{{msTemaModelo.descripcion}}</div>
         </div>			 
 </div><div layout="row" layout-xs="column" layout-aling="center start" flex> 
        <div class="letraenvoltura" ng-if="msTemaModelo.editopcion < 2" flex="50">            
        <md-input-container md-no-float="true" class="input-container-margen letraTexto">
            <label>Fecha De Creación</label>
            <md-datepicker required ng-model="msTemaModelo.fechaCreaJUD" 
                     input-aria-describedby="datepicker-description"
                     input-aria-labelledby="datepicker-header ">
            </md-datepicker>
         </md-input-container>
        </div>
         <div class="letraenvoltura" ng-if="msTemaModelo.editopcion > 1" flex="50">  
            <div class="letraLabel labelTamanioFijo">Fecha De Creación:</div>
            <div class="letraTexto">{{msTemaModelo.fechaCrea}}</div>
         </div>			 
 </div><div layout="row" layout-xs="column" layout-aling="center start" flex> 
        <div class="letraenvoltura" ng-if="msTemaModelo.editopcion < 2" flex="50">            
        <md-input-container md-no-float="true" class="input-container-margen letraTexto">
            <label>Fecha De Modificación</label>
            <md-datepicker required ng-model="msTemaModelo.fechaModifJUD" 
                     input-aria-describedby="datepicker-description"
                     input-aria-labelledby="datepicker-header ">
            </md-datepicker>
         </md-input-container>
        </div>
         <div class="letraenvoltura" ng-if="msTemaModelo.editopcion > 1" flex="50">  
            <div class="letraLabel labelTamanioFijo">Fecha De Modificación:</div>
            <div class="letraTexto">{{msTemaModelo.fechaModif}}</div>
         </div>			 
 </div><div layout="row" layout-aling="center start" layout-xs="column"> 
        <div class="letraenvoltura" ng-if="msTemaModelo.editopcion < 2" flex="auto">        
        <md-input-container md-no-float="true" class="input-container-margen letraTexto">
            <label>Estado</label>    
            <input type="number" md-maxlength="10" required name="estado" ng-model="msTemaModelo.estado"
                   >
           <div ng-messages="msTemaForm.estado.$error">
            <div ng-message="minlength">El N&uacute;mero de caracteres es muy corto</div>    
            <div ng-message="required">Se requiere el Estado.</div>
            <div ng-message="maxlength">El Estado tiene un m&aacute;ximo de 10 caracteres.</div>
            </div>
         </md-input-container>
        </div>
         <div class="letraenvoltura" ng-if="msTemaModelo.editopcion > 1" flex="auto">  
            <div class="letraLabel">Estado:</div>
            <div class="letraTexto">{{msTemaModelo.estado}}</div>
         </div>			 
 </div><div layout="row" layout-aling="center start" layout-xs="column">       
        <div class="letraenvoltura" ng-if="msTemaModelo.editopcion < 2" flex="auto">
            
        <md-input-container md-no-float="true" class="input-container-margen letraTexto">
            <label>Tema</label>
            <md-select ng-model="msTemaModelo.tipoServicio" ng-change="changeTipoServicio()" required
                       name="tipoServicio"
                       >
             <md-option ng-repeat="item in listaPrtParametrosTipoServicio" ng-value="item.id">
                 {{item.valor}}
             </md-option>
            </md-select>
            <div ng-messages="msTemaForm.tipoServicio.$error">
	      <div ng-message="required">Se requiere seleccione la sede.</div>
	    </div>
         </md-input-container>
        </div>
         <div class="letraenvoltura" ng-if="msTemaModelo.editopcion > 1" flex="auto">  
            <div class="letraLabel">Tema:</div>
            <div class="letraTexto">{{msTemaModelo.tipoServicioTxt}}</div>
         </div>			 
 </div>
</md-content>
</fieldset>
</div>
<div>&nbsp;</div>

</div> <!-- FIN -->
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
<!-- DIALOGOS --> 

<!-- FIN DIALOGOS -->
<!-- Footer -->
<div ng-include="'paginas/pie.html'"></div>
<!-- Fin Footer -->