<div flex="100" layout="column" layout-align="start stretch" class="margenForm" 
data-ng-init="editmsUbigeo()">
     <!--PURIBE 10012024 - INICIO-->
      <!--PURIBE 15012024 - INICIO-->
       <!--PURIBE 20012024 - INICIO-->
        <!--PURIBE 25012024 - INICIO-->
     <div layout="row" layout-aling="space-between start">
    <md-toolbar md-colors="{background: 'primary-700'}" class="md-toolbar-size">
	  <div class="md-toolbar-tools md-toolbar-tools-size" >
      <div flex="auto" ng-if="nuevo">        
        <h2 md-truncate md-colors="{color: 'background-A100'}">Nuevo {{nombreDPTO}}</h2>
      </div>
      <div flex="auto" ng-if="!nuevo">        
        <h2 md-truncate md-colors="{color: 'background-A100'}">{{msUbigeoModelo.XXX}}</h2>
      </div>        
       <md-button class="md-button-borde md-sm" ng-click="cancelarMsUbigeo()" aria-label="Salir">
        <md-icon md-font-set="material-icons" md-colors="{color: 'background-300'}">undo</md-icon> 
         <span ng-if="nuevo">Cancelar</span>
         <span ng-if="!nuevo">Salir</span>   
       </md-button>
       <md-button class="md-button-borde md-sm" ng-click="salvarMsUbigeo($event)" 
       ng-if="msUbigeoModelo.editopcion==1"    ng-disabled="deshabilitarBoton" aria-label="Grabar">
       <md-icon md-font-set="material-icons" md-colors="{color: 'background-300'}">save</md-icon> 
       <span  class="colortexto">Grabar</span>     
       </md-button>
      </div>
  </md-toolbar>    
  </div>

<div layout="column">
<fieldset>
  <legend>Datos de {{nombreDPTO}}</legend>
<md-content md-whiteframe="1" class="overflowEsconder noshadow" md-colors="{background: 'background-A100'}">
  <div layout="row" layout-align="space-around start">
    <div layout="row" layout-aling="center start"> 
          <div class="letraenvoltura" ng-if="msUbigeoModelo.editopcion < 2 && tipo>0" flex="auto">
          <label class="letraLabel" flex>Descripci&oacute;n {{nombreDPTO}}</label>    
          <md-input-container md-no-float="true" class="input-container-margen letraTexto" flex="85">
              <input type="text" md-maxlength="50" required name="descripcion" ng-model="msUbigeoModelo.descripcion"
                    placeholder="Ingresar Descripción"
                    >
            <div ng-messages="msUbigeoForm.descripcion.$error">
              <div ng-message="minlength">El N&uacute;mero de caracteres es muy corto</div>    
              <div ng-message="required">Se requiere el Descripci&oacute;n.</div>
              <div ng-message="maxlength">La Descripci&oacute;n tiene un m&aacute;ximo de 50 caracteres.</div>
              </div>
          </md-input-container>
          </div>
          <div class="letraenvoltura" ng-if="msUbigeoModelo.editopcion > 1" flex="auto">  
              <div class="letraLabel">Descripci&oacute;n:</div>
              <div class="letraTexto">{{msUbigeoModelo.descripcion}}</div>
          </div>	

 </div><div layout="row" layout-aling="center start">       
        <div class="letraenvoltura" ng-if="(msUbigeoModelo.editopcion < 2 && tipo>1) || (msUbigeoModelo.editopcion < 2  && stipo==1)" flex="auto">
        <label class="letraLabel" flex>Departamento</label>    
        <md-input-container md-no-float="true" class="input-container-margen letraTexto"  flex="85">
            <md-select ng-model="msUbigeoModelo.id.codDpto" ng-disabled="deshabilitarCombos" ng-change="changeCodDpto()" required
                       placeholder="Ingresar Departamento"
                       name="codDpto"
                       >
              <md-option ng-value="0">SIN DEPARTAMENTO</md-option>
             <md-option ng-repeat="item in listaMsUbigeoCodDpto" ng-value="item.id" ng-disabled="deshabilitarCombos">
                 {{item.valor}}
             </md-option>
            </md-select>
            <div ng-messages="msUbigeoForm.codDpto.$error">
	      <div ng-message="required">Se requiere seleccione la sede.</div>
	    </div>
         </md-input-container>
        </div>
         <div class="letraenvoltura" ng-if="msUbigeoModelo.editopcion > 1" flex="auto">  
            <div class="letraLabel">Departamento:</div>
            <div class="letraTexto">{{msUbigeoModelo.coddptoTxt}}</div>
         </div>		

 </div>
 
      
 <div layout="row" layout-aling="center start">       
        <div class="letraenvoltura" ng-if="(msUbigeoModelo.editopcion < 2 && tipo>2) || (msUbigeoModelo.editopcion < 2 && stipo==1)" flex="auto">
        <label class="letraLabel" flex>Provincia</label>    
        <md-input-container md-no-float="true" class="input-container-margen letraTexto"  flex="85">
            <md-select ng-model="msUbigeoModelo.id.codProv" ng-disabled="deshabilitarCombos" ng-change="changeCodProv()" required
                       placeholder="Ingresar Provincia"
                       name="codProv"
                       >
                <md-option ng-value="0">SIN PROVINCIA</md-option>
             <md-option ng-repeat="item in listaMsUbigeoCodProv" ng-disabled="deshabilitarCombos" ng-value="item.id">
                 {{item.valor}}
             </md-option>
            </md-select>
            <div ng-messages="msUbigeoForm.codProv.$error">
	      <div ng-message="required">Se requiere seleccione la sede.</div>
	    </div>
         </md-input-container>
        </div>
         <div class="letraenvoltura" ng-if="msUbigeoModelo.editopcion > 1" flex="auto">  
            <div class="letraLabel">Provincia:</div>
            <div class="letraTexto">{{msUbigeoModelo.codProvTxt}}</div>
         </div>		

 </div>

 
<div layout="row" layout-aling="center start">       
  <div class="letraenvoltura" ng-if="msUbigeoModelo.editopcion < 2 && stipo==1" flex="auto">
  <label class="letraLabel" flex>Distrito</label>    
  <md-input-container md-no-float="true" class="input-container-margen letraTexto"  flex="85">
      <md-select ng-model="msUbigeoModelo.id.codDistr" ng-disabled="deshabilitarCombos" ng-change="changeCodDistr()" required
                 placeholder="Ingresar Distrito"
                 name="codDistr"
                 >
          <md-option ng-value="0">SIN DISTRITO</md-option>
       <md-option ng-repeat="item in listaMsUbigeoCodDistr" ng-disabled="deshabilitarCombos" ng-value="item.id">
           {{item.valor}}
       </md-option>
      </md-select>
      <div ng-messages="msUbigeoForm.codDistr.$error">
  <div ng-message="required">Se requiere seleccione la sede.</div>
</div>
   </md-input-container>
  </div>
   <div class="letraenvoltura" ng-if="msUbigeoModelo.editopcion > 1" flex="auto">  
      <div class="letraLabel">Provincia:</div>
      <div class="letraTexto">{{msUbigeoModelo.coddistTxt}}</div>
   </div>		

</div>

<div layout="row" layout-aling="center start"> 
  <div class="letraenvoltura" ng-if="msUbigeoModelo.editopcion < 2" flex="auto">
     <md-switch ng-model="msUbigeoModelo.estado" aria-label="Estado" ng-change="updateModel()" class="custom-switch">
        Activo: {{ msUbigeoModelo.estado ? '3' : '0' }}
     </md-switch>
     </div>
  
<div class="letraenvoltura" ng-if="msUbigeoModelo.editopcion > 1" flex="auto"> 
  <md-switch ng-model="msUbigeoModelo.estado" ng-disabled="true" aria-label="Estado"  class="custom-switch">
     Activo: {{ msUbigeoModelo.estado ? '3' : '0' }}
  </md-switch>
</div>
      

</div>
</div>


</md-content>
</fieldset>
</div>
<div>&nbsp;</div>

</div> <!-- FIN -->
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
<!-- DIALOGOS --> 
 <!--PURIBE 25012024 - FIN-->
<!--PURIBE 20012024 - FIN-->
 <!--PURIBE 15012024 - FIN-->
<!--PURIBE 10012024 - FIN-->
<!-- FIN DIALOGOS -->
<!-- Footer -->
<div ng-include="'paginas/pie.html'"></div>
<!-- Fin Footer -->