<div flex="100" layout="column" layout-align="start stretch" class="margenForm" 
data-ng-init="edittaFeriados()">
    <!--PURIBE 16012024 - INICIO-->    
    <!--PURIBE 20012024 - INICIO-->  
      <!--PURIBE 25012024 - INICIO--> 
    <div layout="row" layout-aling="space-between start">
<md-toolbar md-colors="{background: 'primary-700'}" class="md-toolbar-size">
	  <div class="md-toolbar-tools md-toolbar-tools-size" >
      <div flex="auto" ng-if="nuevo">        
        <h2 md-truncate md-colors="{color: 'background-A100'}">Nuevo Feriados</h2>
      </div>
      <div flex="auto" ng-if="!nuevo">        
        <h2 md-truncate md-colors="{color: 'background-A100'}">{{taFeriadosModelo.feDesc}}</h2>
      </div>        
       <md-button class="md-button-borde md-sm" ng-click="cancelarTaFeriados()" aria-label="Salir">
        <md-icon md-font-set="material-icons" md-colors="{color: 'background-300'}">undo</md-icon> 
         <span ng-if="nuevo">Cancelar</span>
         <span ng-if="!nuevo">Salir</span>   
       </md-button>
       <md-button class="md-button-borde md-sm" ng-click="salvarTaFeriados($event)" 
       ng-if="taFeriadosModelo.editopcion==1" aria-label="Grabar">
       <md-icon md-font-set="material-icons" md-colors="{color: 'background-300'}">save</md-icon> 
       <span  class="colortexto">Grabar</span>        
       </md-button>
      </div>
</md-toolbar>   
</div> 

<div layout="column">
<fieldset>
   <legend>Datos de Feriados</legend>
   <md-content md-whiteframe="1" class="overflowEsconder noshadow" md-colors="{background: 'background-A100'}">
 <div layout="row" layout-align="space-around start">
    <div layout="row" layout-align="center start"> 
 
         <div layout="row" layout-aling="center start">
            <md-input-container class="md-block input-container-margen" ng-if="taFeriadosModelo.editopcion < 2">
               <label  style="width: 100%;">Fecha del feriado</label>
                     <md-datepicker required ng-model="taFeriadosModelo.feFecha" 
                        md-placeholder="Ingrese la fecha"
                        input-aria-describedby="datepicker-description"
                        input-aria-labelledby="datepicker-header ">
                     </md-datepicker>
            </md-input-container>
            <div class="letraenvoltura" ng-if="taFeriadosModelo.editopcion > 1">  
               <div class="letraLabel">Fecha del feriado:</div>
               <div class="letraTexto">{{formatDate(tdFeriadosModelo.feFecha)}}</div>
            </div>      
         </div>
            <div layout="row" layout-aling="center start">
                  <div class="letraenvoltura" ng-if="taFeriadosModelo.editopcion < 2" flex="auto">
                  <label class="letraLabel" flex>Descripci&oacute;n Del Feriado</label>    
                  <md-input-container md-no-float="true" class="input-container-margen letraTexto" flex="85">
                        <input type="text" style="width:300px;" md-maxlength="255" required name="feDesc" ng-model="taFeriadosModelo.feDesc"
                              placeholder="Ingresar Descripción del feriado" 
                              >
                     <div ng-messages="taFeriadosForm.feDesc.$error">
                        <div ng-message="minlength">El N&uacute;mero de caracteres es muy corto</div>    
                        <div ng-message="required">Se requiere el Descripci&oacute;n Del Feriado.</div>
                        <div ng-message="maxlength">El Descripci&oacute;n Del Feriado tiene un m&aacute;ximo de 255 caracteres.</div>
                        </div>
                     </md-input-container>  
                  </div>
                     <div class="letraenvoltura" ng-if="taFeriadosModelo.editopcion > 1" flex="auto">  
                        <div class="letraLabel">Descripci&oacute;n Del Feriado:</div>
                        <div class="letraTexto">{{taFeriadosModelo.feDesc}}</div>
                     </div>			 
            </div>
   </div>
  
 <div layout="row" layout-aling="center start"> 
   <div class="letraenvoltura" ng-if="taFeriadosModelo.editopcion < 2" flex="auto">
      <md-switch ng-model="taFeriadosModelo.feEstado" aria-label="Estado" ng-change="updateModel()" class="custom-switch">
         Activo: {{ taFeriadosModelo.feEstado ? '3' : '0' }}
      </md-switch>
      </div>
   
 <div class="letraenvoltura" ng-if="taFeriadosModelo.editopcion > 1" flex="auto"> 
   <md-switch ng-model="taFeriadosModelo.feEstado" ng-disabled="true" aria-label="Estado"  class="custom-switch">
      Activo: {{ taFeriadosModelo.feEstado ? '3' : '0' }}
   </md-switch>
 </div>
  		 
 
</div>


</div>

</md-content>
</fieldset>
</div>
<div>&nbsp;</div>
 <!--PURIBE 25012024 - FIN--> 
<!--PURIBE 20012024 - FIN--> 
</div> <!-- FIN -->
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
<!-- DIALOGOS --> 
    <!--PURIBE 16012024 - FIN-->
<!-- FIN DIALOGOS -->
<!-- Footer -->
<div ng-include="'paginas/pie.html'"></div>
<!-- Fin Footer -->