<div layout="column" layout-align="start stretch" data-ng-init="loaddtAmpliacionFechas()">

<md-toolbar md-colors="{background: 'primary-700'}" class="md-toolbar-size">
	<div class="md-toolbar-tools md-toolbar-tools-size">
	 <h2 flex md-truncate md-colors="{color: 'background-A100'}">Lista De Ampliaciones De Los Días De Programación Y Ejecucion Del Servicio Para Un Sistema Administrativo</h2>
         <md-button class="md-button-borde md-sm"
			ng-click="showConfirmLista($event)" aria-label="Anular">
         <md-icon md-svg-icon="resources/icons/delete_forever.svg"
            class="md-icon-color" aria-label="Delete Forever"></md-icon> 
            <span hide-xs show-gt-sm>Anular</span>
         </md-button>
         <md-button class="md-button-borde md-sm" 
            ng-href="{{descargar()}}" target="_blank" aria-label="Exportar"> 
            <md-icon md-svg-icon="resources/icons/system_update_alt.svg"
            class="md-icon-color" aria-label="System Update Alt"></md-icon> 
            <span hide-xs show-gt-sm>Exportar</span>
         </md-button>
	</div>
</md-toolbar>
    
<!-- Filtro -->
<md-toolbar md-colors="{background: 'background-50'}" class="md-toolbar-filtro-size">
	
        <div class="md-toolbar-tools md-toolbar-tools-size md-toolbar-font-size" layout="row" layout-align="start center"
          ng-hide="showSearchBarDiv"
         >
            
            <div class="tamaDivFiltro">
            <md-button aria-label="Nuevo Ampliaciones" ng-click="nuevoDtAmpliacionFecha()" ng-if="creadtAmpliacionFecha" 
              class="md-button-borde" md-colors="{background: 'primary-900'}">
              <md-icon md-svg-icon="resources/icons/docs_add_on.svg" 
              class="md-icon-color" aria-label="Docs Add On"></md-icon>  
              <span hide-xs show-gt-sm>Crear Ampliaciones</span>
            </md-button>
            </div>
            
            <div class="tamaDivFiltro" hide-xs show-gt-sm>
            <label>N° de Ampliaciones:</label>
            <md-input-container class="container_margen-top"> 
               <input type="text" name="idAutorizacion" ng-model="filtro.idAutorizacion" /> 
            </md-input-container>
            </div>
            
            <div class="tamaDivFiltro" hide-xs show-gt-sm> 
            <md-button class="md-button-borde" md-colors="{background: 'primary-900'}" 
                       ng-click="refrescarvista($event)" aria-label="BUSCAR"> 
                <md-icon ng-class="md-icon-color" class="md-icon-color" md-font-set="material-icons">search</md-icon>
                <span>Buscar</span>
            </md-button>
            </div>
    
            <div class="tamaDivFiltro" show-xs hide-gt-xs> 
            <md-button class="md-button-borde" md-colors="{background: 'primary-900'}" 
                       ng-click="showSearchBarDiv = true" aria-label="BUSCAR"> 
                <md-icon md-svg-icon="resources/icons/tornado.svg" ng-class="md-icon-color" class="md-icon-color" aria-label="tornado"></md-icon> 
            </md-button>
            </div>
        </div>
    
        <div class="md-toolbar-tools md-toolbar-tools-size md-toolbar-font-size" 
	layout="row" layout-align="start center" ng-show="showSearchBarDiv" 
	show-sm show-md hide-gt-md
	>
	
            <div class="tamaDivFiltro">
            <md-button class="md-button-borde" md-colors="{background: 'primary-900'}" 
                    ng-click="showSearchBarDiv = false" aria-label="RETROCEDER"> 
                <md-icon ng-class="md-icon-color" class="md-icon-color" md-font-set="material-icons">back</md-icon>
            </md-button>
            </div>
    
            <div class="tamaDivFiltro">
            <label>N° de Ampliaciones:</label>
            <md-input-container class="container_margen-top"> 
               <input type="text" name="idAutorizacion" ng-model="filtro.idAutorizacion" /> 
            </md-input-container>
            </div>
    
            <div class="tamaDivFiltro"> 
                <md-button class="md-button-borde" md-colors="{background: 'primary-900'}" 
                           ng-click="refrescarvista($event)" aria-label="BUSCAR"> 
                    <md-icon ng-class="md-icon-color" class="md-icon-color" md-font-set="material-icons">search</md-icon>
                </md-button>
            </div>

	</div>
</md-toolbar>
<!-- FIN Filtro -->
<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                  md-total="{{total}}" md-page-select="options.pageSelect" 
                  md-boundary-links="options.boundaryLinks"
                  md-on-paginate="logPagination"
                  style="margin-bottom: -20px !important;"
                  > 
            </md-table-pagination>
<md-divider></md-divider>
  <md-table-container>
    <table resize md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" 
           ng-model="selected" md-progress="promise">
      <thead id="tablewidth" ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
         <tr md-row class="md-table-head-label">
           <th class="md-title ttamnumero" md-column><span>N&deg;</span></th>
           <th md-column class="md-title ttamnumero">&nbsp;</th>
           <th class="md-title ttamdtAmpliacionFechaidAutorizacion" md-column md-order-by="idAutorizacion">
           <span>ID</span></th>  
           <th class="md-title ttamdtAmpliacionFechatipoFechaCorteTxt" md-column md-order-by="tipoFechaCorteTxt" hide-xs show-gt-sm>
           <span>1: Fecha De Ampliacion De Programacion</span></th>
           <th class="md-title ttamdtAmpliacionFechaidSedeTxt" md-column md-order-by="idSedeTxt" hide-xs show-gt-sm>
           <span>Sede</span></th>
           <th class="md-title ttamdtAmpliacionFechaidSistAdmiTxt" md-column md-order-by="idSistAdmiTxt" hide-xs show-gt-sm>
           <span>Sistema Administrativo</span></th>
           <th class="md-title ttamdtAmpliacionFechafechaInicio" md-column md-order-by="fechaInicio" hide-xs show-gt-sm>
           <span>Fecha De Inicio</span></th>
           <th class="md-title ttamdtAmpliacionFechafechaFin" md-column md-order-by="fechaFin" hide-xs show-gt-sm>
           <span>Fecha De Fin</span></th>
           <th class="md-title ttamdtAmpliacionFechafechaModif" md-column md-order-by="fechaModif" hide-xs show-gt-sm>
           <span>Fecha De Modificación</span></th>
           <th class="md-title ttamdtAmpliacionFechaestado" md-column md-order-by="estado" hide-xs show-gt-sm>
           <span>Estado</span></th>
                      
         </tr>
         <tr md-row class="md-table-head-order">
         <th md-column>&nbsp;</th>
         <th md-column>&nbsp;</th>
         <th md-column> 
            <input type="text" name="ID" ng-model="filtro.idAutorizacion" placeholder="ID" 
                   ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamdtAmpliacionFechaidAutorizacion"/>
         </th>
           
           <th md-column hide-xs show-gt-sm> 
            <input type="text" name="tipoFechaCorteTxt" ng-model="filtro.tipoFechaCorteTxt" placeholder="1: Fecha De Ampliacion De Programacion" 
                   ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamdtAmpliacionFechatipoFechaCorteTxt"/>
         </th>
           <th md-column hide-xs show-gt-sm> 
            <input type="text" name="idSedeTxt" ng-model="filtro.idSedeTxt" placeholder="Sede" 
                   ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamdtAmpliacionFechaidSedeTxt"/>
         </th>
           <th md-column hide-xs show-gt-sm> 
            <input type="text" name="idSistAdmiTxt" ng-model="filtro.idSistAdmiTxt" placeholder="Sistema Administrativo" 
                   ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamdtAmpliacionFechaidSistAdmiTxt"/>
         </th><th md-column hide-xs show-gt-sm> 
            <input type="text" name="fechaInicio" ng-model="filtro.fechaInicio" placeholder="yyyy-mm-dd" 
                   ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamdtAmpliacionFechafechaInicio"/>
         </th><th md-column hide-xs show-gt-sm> 
            <input type="text" name="fechaFin" ng-model="filtro.fechaFin" placeholder="yyyy-mm-dd" 
                   ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamdtAmpliacionFechafechaFin"/>
         </th><th md-column hide-xs show-gt-sm> 
            <input type="text" name="fechaModif" ng-model="filtro.fechaModif" placeholder="yyyy-mm-dd" 
                   ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamdtAmpliacionFechafechaModif"/>
         </th>
         <th md-column hide-xs show-gt-sm> 
            <input type="text" name="estado" ng-model="filtro.estado" placeholder="Estado" 
                   ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamdtAmpliacionFechaestado"/>
         </th>                    
         </tr>
      </thead>
      <tbody md-body>
         <tr class="primary triddtAmpliacionFecha md-table-cuerpo" md-row md-select="dato" md-on-select="logItem" md-auto-select="options.autoSelect"   
             ng-disabled="!dato.dtAmpliacionFechaACL.eliminar" ng-repeat-start="dato in datos">
          <td md-cell>{{$index + 1}}</td>
          <td class="md-title ttamnumero" data-title="Acciones" md-cell>
             <div layout="row" layout-xs="column" layout-align="center center">
                <md-button 
                        ng-click="editarDtAmpliacionFecha($event, dato)"
                        ng-if="dato.dtAmpliacionFechaACL.esEditable"> 
                    <md-icon class="md-icon-tabla-accion" md-font-set="material-icons">edit</md-icon> 
                </md-button>
                <md-button class="{{dato.cestado}}" ng-click="showConfirmActivar($event, dato)"
                 ng-if="dato.dtAmpliacionFechaACL.eliminar  && dato.esEliminado">
                    <md-icon class="md-icon-tabla-accion" md-font-set="material-icons">redo</md-icon>
                </md-button>                 
             </div>
          </td>
          <td class="tdaa1 md-table-cuerpo" data-title="ID" md-cell>
          {{dato.idAutorizacion}}
          </td>
          <td class="tdaa1 md-table-cuerpo" data-title="1: Fecha De Ampliacion De Programacion" md-cell hide-xs show-gt-sm>
          {{dato.tipoFechaCorteTxt}}</td>
          <td class="tdaa1 md-table-cuerpo" data-title="Sede" md-cell hide-xs show-gt-sm>
          {{dato.idSedeTxt}}</td>
          <td class="tdaa1 md-table-cuerpo" data-title="Sistema Administrativo" md-cell hide-xs show-gt-sm>
          {{dato.idSistAdmiTxt}}</td>
          <td class="tdaa1 md-table-cuerpo" data-title="Fecha De Inicio" md-cell hide-xs show-gt-sm>
          {{formatDMY(dato.fechaInicio)}}</td>
          <td class="tdaa1 md-table-cuerpo" data-title="Fecha De Fin" md-cell hide-xs show-gt-sm>
          {{formatDMY(dato.fechaFin)}}</td>
          <td class="tdaa1 md-table-cuerpo" data-title="Fecha De Modificación" md-cell hide-xs show-gt-sm>
          {{formatDMY(dato.fechaModif)}}</td>
          <td class="tdaa1 md-table-cuerpo" data-title="Estado" md-cell hide-xs show-gt-sm>
          {{dato.estado}}</td>
                     
           </tr>
           <tr class="secondary childiddtAmpliacionFecha" ng-repeat-end></tr>
       </tbody>
    </table>
  </md-table-container>
  </div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
    <!-- Footer -->
<div ng-include="'paginas/pie.html'"></div>
<!-- Fin Footer -->