<div layout="column" layout-align="start stretch" data-ng-init="loadmsUbigeos()">
  <!--PURIBE 10012024 - INICIO-->
  <!--PURIBE 15012024 - INICIO-->
<md-toolbar md-colors="{background: 'primary-700'}" class="md-toolbar-size">
	<div class="md-toolbar-tools md-toolbar-tools-size">
	 <h2 flex md-truncate md-colors="{color: 'background-A100'}">Lista de ubigeos</h2>
	 
	</div>
</md-toolbar>    
    
<!-- Filtro -->

	<div class="md-toolbar-tools md-toolbar-tools-size md-toolbar-font-size" layout="row" layout-align="start center">
            <div class="tamaDivFiltro">

            <md-button aria-label="Nuevo Departamento" ng-click="nuevoMsUbigeo(1)" ng-if="creamsUbigeo" class="md-button-hover estilobuttonNuevoUbigeo md-sm">
             <md-icon md-font-set="material-icons" md-colors="{color: 'background-200'}">add</md-icon> 
            <span  style="color: white; font-size: 10px;">Crear Departamento</span>    
            </md-button>
             </div>
            <div class="tamaDivFiltro">
            <md-button aria-label="Nuevo Provincia" ng-click="nuevoMsUbigeo(2)" ng-if="creamsUbigeo" class="md-button-hover estilobuttonNuevoUbigeo md-sm">
               <md-icon md-font-set="material-icons" md-colors="{color: 'background-200'}">add</md-icon> 
              <span  style="color: white; font-size: 10px;">Crear Provincia</span>    
              </md-button>
            </div>
            <div class="tamaDivFiltro">
              <md-button aria-label="Nuevo Distrito" ng-click="nuevoMsUbigeo(3)" ng-if="creamsUbigeo" class="md-button-hover estilobuttonNuevoUbigeo md-sm">
               <md-icon md-font-set="material-icons" md-colors="{color: 'background-200'}">add</md-icon> 
              <span  style="color: white; font-size: 10px;">Crear Distrito</span>    
              </md-button>
            </div>

	</div>

<!-- FIN Filtro -->
   <div class="tamaDivFiltro" style ="display:inline-block; text-align: right;">
   <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
   md-total="{{total}}" md-page-select="options.pageSelect" 
   md-boundary-links="options.boundaryLinks"
   md-on-paginate="logPagination"> 
   </md-table-pagination>
   </div>

<md-divider style="margin-top: 20px;"></md-divider>
  <md-table-container flex>
    <table resize md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" 
           ng-model="selected" md-progress="promise">
      <thead id="tablewidth" ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
         <tr md-row class="md-table-head-label">
            <th class="md-title ttamblanco" md-column><span></span> </th>
           <th class="md-title ttamblanco" md-column><span>N&deg;</span></th>
           <th class="md-title ttammsUbigeocodDpto" md-column md-order-by="codDpto">
           <span>Departamento</span></th>
           <th class="md-title ttammsUbigeocodProv" md-column md-order-by="codProv">
           <span>Provincia</span></th>
           <th class="md-title ttammsUbigeocodDistr" md-column md-order-by="codDistr">
           <span>Distrito</span></th>
           
           <th class="md-title ttamblanco" md-column><span>Estado</span></th>
         </tr>
         <tr md-row class="md-table-head-order">
         <th md-column>&nbsp;</th> 
         <th md-column>&nbsp;</th>     
       
         <th md-column> 
            <input type="text" name="coddptoTxt" ng-model="filtro.coddptoTxt" placeholder="Departamento" 
                   ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttammsUbigeocodDpto"/>
         </th>
         <th md-column> 
            <input type="text" name="codprovTxt" ng-model="filtro.codprovTxt" placeholder="Provincia" 
                   ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttammsUbigeocodProv"/>
         </th>
         <th md-column> 
            <input type="text" name="coddistTxt" ng-model="filtro.coddistTxt" placeholder="Distrito" 
                   ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttammsUbigeocodDistr"/>
         </th>        
         <th md-column> 
            <input type="text" name="cestado"  placeholder="Estado" 
                    class="md-table-orden-imput ttamprtEstado"/>
         </th> 
         
           
         </tr>
      </thead>
      <tbody md-body>
         <tr class="primary tridmsUbigeo md-table-cuerpo" md-row md-select="dato" md-on-select="logItem" md-auto-select="options.autoSelect"   
             ng-disabled="dato.idubigeo > 0" ng-repeat-start="dato in datos">
             
             <td class="tdaa8 md-table-cuerpo" data-title="Edicion" md-cell>
               <div layout="row" layout-xs="column" layout-align="center center">
               <md-button class="md-icon-button md-primary"  ng-click="editarMsUbigeo($event, dato)" 
               ng-if="dato.msUbigeoACL.esEditable"> 
               <md-icon md-font-set="material-icons">edit</md-icon>
               </md-button>
              </div>
                </td>
          <td md-cell>{{$index + 1}}</td>
          <td class="tdaa1 md-table-cuerpo" data-title="Departamento" md-cell>
          {{dato.coddptoTxt}}</td>
          <td class="tdaa1 md-table-cuerpo" data-title="Provincia" md-cell>
          {{dato.codprovTxt}}</td>
          <td class="tdaa1 md-table-cuerpo" data-title="Distrito" md-cell>
          {{dato.coddistTxt}}</td>
           
           <td class="tdaa8 md-table-cuerpo" data-title="Acciones" md-cell>
             <div layout="row" layout-xs="column" layout-align="center center">
                 <md-button class="{{dato.cclase}}"
                        ng-click="showConfirm($event, dato)"
                        ng-if="dato.msUbigeoACL.eliminar">
                        <label>{{dato.cestado}}</label>
                        </md-button>
                          
             </div>
            </td>
           </tr>
           <tr class="secondary childidmsUbigeo" ng-repeat-end></tr>
       </tbody>
    </table>
  </md-table-container>
    <!--PURIBE 15012024 - FIN-->
    <!--PURIBE 10012024 - FIN-->
  </div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
    <!-- Footer -->
<div ng-include="'paginas/pie.html'"></div>
<!-- Fin Footer -->