<div layout="column" layout-align="start stretch" data-ng-init="loadprtParametross()">

   <md-toolbar md-colors="{background: 'primary-700'}" class="md-toolbar-size">
      <div class="md-toolbar-tools md-toolbar-tools-size">
         <!--PURIBE 04012024 - INICIO-->
       <h2 flex md-truncate md-colors="{color: 'background-A100'}">Lista de par&aacute;metros </h2> 
    
      </div>
   </md-toolbar>    
       <!--PURIBE 10012024 - INICIO-->
      <!--PURIBE 16012024 - INICIO-->
   <!-- Filtro -->
   

   <!--PURIBE 20012024 - INICIO-->
   

      <div class="md-toolbar-tools md-toolbar-tools-size md-toolbar-font-size" layout="row" layout-align="start center">
       
         <div class="tamaDivFiltro">
         <md-button aria-label="Nuevo Parámetros" ng-click="nuevoPrtParametros()" ng-if="creaprtParametros" class="md-button-hover estilobuttonNuevo md-sm">
            <md-icon md-font-set="material-icons" md-colors="{color: 'background-200'}">add</md-icon> 
            <span  style="color: white; font-size: 10px;">Crear par&aacute;metro</span>    
            </md-button>
         </div>   
         <div class="tamaDivFiltro">
           
            <span style="font-size: 14px; display: inline-block; vertical-align: middle; line-height: 20px;">Dependencia:</span>  
               </md-button>
            </div>
         
         <div class="tamaDivFiltro">
             
                 <md-select ng-model="filtro.idpadreTxt" ng-change="changeIdpadre()" 
                          placeholder="Dependencia" style="top: 5px !important;"
                          >
                <md-option ng-value="null">--Ninguno--</md-option>          
                <md-option ng-repeat="dato in listaPrtParametrosIdpadre" ng-value="dato.valor">
                    {{dato.valor}}
                </md-option>
               </md-select>
        
               </div>
               <div class="tamaDivFiltro"> 
               <md-button class="md-sm estilobuttonBuscar md-button-hover" ng-click="refrescarvista($event)" aria-label="BUSCAR"> 
                  <md-icon md-font-set="material-icons" md-colors="{color: 'background-200'}">search</md-icon> 
                   <span  style="color: white; font-size: 10px;">BUSCAR</span>
               </md-button>
             
               </div>
           
      </div>
     
   
   
   <!-- FIN Filtro -->
  
   <div class="tamaDivFiltro" style ="display:inline-block; text-align: right;">
      <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
            md-total="{{total}}" md-page-select="options.pageSelect" 
            md-boundary-links="options.boundaryLinks"
            md-on-paginate="logPagination"> 
      </md-table-pagination>
      </div>
  

   <md-divider style="margin-top: 20px;"></md-divider>
     <md-table-container flex>
       <table resize md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" 
              ng-model="selected" md-progress="promise">
         <thead id="tablewidth" ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
            <tr md-row class="md-table-head-label">
               <th class="md-title ttamblanco" md-column><span></span> </th>
              <th class="md-title ttamblanco" md-column><span>N&deg;</span></th>
              <th class="md-title ttamprtParametrosidparametro" md-column md-order-by="idparametro">
              <span>ID</span></th>  
        
         <th class="md-title ttamprtParametrosdescripcion" md-column md-order-by="descripcion">
              <span>Par&aacute;metro</span></th>
         
              <th class="md-title ttamprtParametrosidpadre" md-column md-order-by="idpadreTxt">
              <span>Dependencia</span></th> 
                  
         <th class="md-title ttamprtParametrosfecha" md-column md-order-by="fechaCrea">
              <span>Fecha de creaci&oacute;n</span></th> 
         
         
        <th class="md-title ttamprtParametrosfecha" md-column md-order-by="fechaModif">
         <span>Fecha de modificaci&oacute;n</span></th> 
   
         <th class="md-title ttamblanco" md-column><span>Estado</span></th>
            </tr>
           
            <tr md-row class="md-table-head-order">
            <th md-column>&nbsp;</th>   
            <th md-column>&nbsp;</th>     
            <th md-column> 
               <input type="text" name="ID" ng-model="filtro.idparametro" placeholder="ID" 
                      ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamprtParametrosidparametro"/>
            </th>
            <th md-column> 
               <input type="text" name="descripcion" ng-model="filtro.descripcion" placeholder="Par&aacute;metro" 
                      ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamprtParametrosdescripcion"/>
            </th>    
            <th md-column> 
               <input type="text" name="idpadreTxt" ng-model="filtro.idpadreTxt" placeholder="Dependencia" 
                      ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamprtParametrosidpadre"/>
            </th>
               
            <th md-column> 
               <input type="text" name="fechaCrea" ng-model="filtro.fechaCrea" placeholder="Fecha Creaci&oacute;n" 
                      ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamprtParametrosfecha"/>
            </th> 
            <th md-column> 
               <input type="text" name="fechaModif" ng-model="filtro.fechaModif" placeholder="Fecha Modificaci&oacute;n" 
                      ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamprtParametrosfecha"/>
            </th> 
           
            <th md-column> 
               <input type="text" name="cestado"  placeholder="Estado" 
                       class="md-table-orden-imput ttamprtEstado"/>
               </th> 
            </tr>
         </thead>
         <tbody md-body>           

            <tr class="primary tridprtParametros md-table-cuerpo" md-row md-select="dato" md-on-select="logItem" md-auto-select="options.autoSelect"   
                ng-disabled="dato.idparametro > 0" ng-repeat-start="dato in datos">

                <td class="tdaa8 md-table-cuerpo" data-title="Edicion" md-cell>
                <div layout="row" layout-xs="column" layout-align="center center">
                <md-button class="md-icon-button md-primary"  ng-click="editarPrtParametros($event, dato)" 
                ng-if="dato.prtParametrosACL.esEditable"> 
                <md-icon md-font-set="material-icons">edit</md-icon>
                </md-button>
               </div>
                 </td>
             <td md-cell>{{$index + 1}}</td>
             <td class="tdaa1 md-table-cuerpo" data-title="ID" md-cell>
             {{dato.idparametro}}</td>
             <td class="tdaa1 md-table-cuerpo" data-title="Descripci&oacute;n" md-cell>
             {{dato.descripcion}}</td>
             <td class="tdaa1 md-table-cuerpo" data-title="Dependencia" md-cell>
             {{dato.idpadreTxt}}</td>
             <td class="tdaa1 md-table-cuerpo" data-title="Fecha Creaci&oacute;n" md-cell>
               {{dato.fechaCrea}}</td>
             <td class="tdaa1 md-table-cuerpo" data-title="Fecha Modificaci&oacute;n" md-cell>
                  {{dato.fechaModif}}</td>
          
              <td class="tdaa8 md-table-cuerpo" data-title="Acciones" md-cell>

                <div layout="row" layout-xs="column" layout-align="center center">
                    <md-button class="{{dato.cclase}}"
                           ng-click="showConfirm($event, dato)"
                           ng-if="dato.prtParametrosACL.eliminar">
                           <label>{{dato.cestado}}</label>
                           </md-button>
                                
                </div>
               </td>
              </tr>
              <tr class="secondary childidprtParametros" ng-repeat-end></tr>
          </tbody>
       </table>
     </md-table-container>
     </div>
     <!--PURIBE 16012024 - FIN-->
      <!--PURIBE 10012024 - FIN-->
       <!--PURIBE 04012024 - FIN-->
        <!--PURIBE 20012024 - FIN-->
     <div>&nbsp;</div>
     <div>&nbsp;</div>
     <div>&nbsp;</div>
     <div>&nbsp;</div>
     <div>&nbsp;</div>
       <!-- Footer -->
   <div ng-include="'paginas/pie.html'"></div>
   <!-- Fin Footer -->