<div layout="column" layout-align="start stretch" data-ng-init="loadtaFeriadoss()">
<!--PURIBE 16012024 - INICIO-->
<md-toolbar md-colors="{background: 'primary-700'}" class="md-toolbar-size">
	<div class="md-toolbar-tools md-toolbar-tools-size">
	 <h2 flex md-truncate md-colors="{color: 'background-A100'}">Lista De Feriados</h2>
	 
	</div>
</md-toolbar>    
    
<!-- Filtro -->

	<div class="md-toolbar-tools md-toolbar-tools-size md-toolbar-font-size" layout="row" layout-align="start center">
            <div class="tamaDivFiltro">
              <md-button aria-label="Nuevo Feriados" ng-click="nuevoTaFeriados()" ng-if="creataFeriados" class="md-button-hover estilobuttonNuevo md-button-borde md-sm">
                <md-icon md-font-set="material-icons" md-colors="{color: 'background-200'}">add</md-icon> 
                <span  style="color: white; font-size: 10px;">Nuevo Feriado</span>   
            </md-button>
          </div>

	</div>


  <div class="tamaDivFiltro" style ="display:inline-block; text-align: right;">
    <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
          md-total="{{total}}" md-page-select="options.pageSelect" 
          md-boundary-links="options.boundaryLinks"
          md-on-paginate="logPagination"> 
    </md-table-pagination>
    </div>
<!-- FIN Filtro -->
<md-divider style="margin-top: 20px;"></md-divider>
  <md-table-container flex>
    <table resize md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" 
           ng-model="selected" md-progress="promise">
      <thead id="tablewidth" ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
         <tr md-row class="md-table-head-label">
          <th class="md-title ttamblanco" md-column><span></span> </th>
           <th class="md-title ttamblanco" md-column><span>N&deg;</span></th>
           <th class="md-title ttamtaFeriadosfeFecha" md-column md-order-by="feFecha">
           <span>ID</span></th>  
           <th class="md-title ttamtaFeriadosfeDesc" md-column md-order-by="feDesc">
           <span>Descripci&oacute;n Del Feriado</span></th>
           
         <th class="md-title ttamtaFeriadosfeFecha" md-column md-order-by="feFchcrear">
          <span>Fecha de creaci&oacute;n</span></th> 
     
          <th class="md-title ttamtaFeriadosfeFecha" md-column md-order-by="feFchmod">
          <span>Fecha de modificaci&oacute;n</span></th> 

           <th class="md-title ttamblanco" md-column><span>Estado</span></th>
         </tr>
         <tr md-row class="md-table-head-order">
         <th md-column>&nbsp;</th>     
         <th md-column>&nbsp;</th>     
         <th md-column> 
            <input type="text" name="feFecha" ng-model="filtro.feFecha" placeholder="ID" 
                   ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamtaFeriadosfeFecha"/>
         </th>
           
         <th md-column> 
            <input type="text" name="feDesc" ng-model="filtro.feDesc" placeholder="Descripci&oacute;n Del Feriado" 
                   ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamtaFeriadosfeDesc"/>
         </th>         
         <th md-column> 
          <input type="text" name="fechaCrea" ng-model="filtro.fechaCrea" placeholder="Fecha Creaci&oacute;n" 
                 ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamtaFeriadosfeFecha"/>
       </th> 
       <th md-column> 
          <input type="text" name="fechaModif" ng-model="filtro.fechaModif" placeholder="Fecha Modificaci&oacute;n" 
                 ng-keypress="refrescarvista($event)" class="md-table-orden-imput ttamtaFeriadosfeFecha"/>
       </th> 
   
       <th md-column> 
        <input type="text" name="cestado"  placeholder="Estado" 
                class="md-table-orden-imput ttamprtEstado"/>
        </th> 
         </tr>
      </thead>
      <tbody md-body>
         <tr class="primary tridtaFeriados md-table-cuerpo" md-row md-select="dato" md-on-select="logItem" md-auto-select="options.autoSelect"   
             ng-disabled="dato.feFecha.getTime() > 0" ng-repeat-start="dato in datos">

             <td class="tdaa8 md-table-cuerpo" data-title="Edicion" md-cell>
              <div layout="row" layout-xs="column" layout-align="center center">
              <md-button class="md-icon-button md-primary"  ng-click="editarTaFeriados($event, dato)"> 
              <md-icon md-font-set="material-icons">edit</md-icon>
              </md-button>
             </div>
               </td>

          <td md-cell>{{$index + 1}}</td>
          <td class="tdaa1 md-table-cuerpo" data-title="ID" md-cell>
          {{dato.feFecha}}</td>
          <td class="tdaa1 md-table-cuerpo" data-title="Descripción Del Feriado" md-cell>
          {{dato.feDesc}}</td>
          <td class="tdaa1 md-table-cuerpo" data-title="Fecha Creaci&oacute;n" md-cell>
            {{dato.feFchcrear}}</td>
          <td class="tdaa1 md-table-cuerpo" data-title="Fecha Modificaci&oacute;n" md-cell>
               {{dato.feFchmod}}</td>
          
           <td class="tdaa8 md-table-cuerpo" data-title="Acciones" md-cell>
             <div layout="row" layout-xs="column" layout-align="center center">
                 <md-button class="{{dato.cclase}}"
                        ng-click="showConfirm($event, dato)"
                        ng-if="dato.taFeriadosACL.eliminar">
                        <label>{{dato.cestado}}</label>
                        </md-button>
                                
             </div>
            </td>
           </tr>
           <tr class="secondary childidtaFeriados" ng-repeat-end></tr>
       </tbody>
    </table>
  </md-table-container>
  </div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
    <!-- Footer -->
    <!--PURIBE 16012024 - FIN-->
<div ng-include="'paginas/pie.html'"></div>
<!-- Fin Footer -->